<style type="text/css">
  .listv{
     margin-bottom: 30px;
  }
  .editpopup{
     width: 250px;
     height: 250px;
     border: 1px solid black;
     display: none;
     position: absolute;
     top: center;
     left: center;
     bottom: center;
     right: center;

     background-color:gray;
  }
  .editpopup-true{
     display: block;
  }
  .editpopup-false{
     display: none;
  }
  </style>

<br/><br/><br/><br/>
<div ng-controller="HttpPostEstadoCtrl">
		{{ Resposta }}
		<p class="form-group">
			<input placeholder="Nome" class="form-control" type="text" ng-model="nomeEstado" required />
		</p class="form-group">
		<p class="form-group">
			<input placeholder="Sigla" class="form-control" type="text" ng-model="siglaEstado" required />
		</p class="form-group">
		<button class="btn btn-success" ng-click="EnviarInformacao()">Cadastrar</button>
</div>
<br/><hr/><br/>
<div ng-controller="HttpGetEstadoCtrl">

		<button class="btn btn-primary" ng-click="BuscarInformacao()">Buscar estados</button>
		
		<div class="editpopup editpopup-{{istrue}} ">
	        <p>edit Id:<input type="text" ng-model="editedid"></p>
	        <p>edit Estado:<input type="text" ng-model="editedname"></p>
	        <p>Sigla Estado:<input type="text" ng-model="editedsigla"></p>
	        <button ng-click="save(editedid, editedname, editedsigla)">save</button>
	        <button ng-click="closepopup()">cancel</button>
     	</div>		
     	
		<br/><br/>
		
		<table class="table ">
			<tr>
				<td>ID</td>
				<td>NOME</td>
				<td>SIGLA</td>
			</tr>
			<tr ng:repeat="estado in estados">
				<td>{{estado.idEstado}}</td>
				<td>{{estado.nomeEstado}}</td>
				<td>{{estado.siglaEstado}}</td> 
				<td><button ng-click="editrow(estado)" class="btn btn-primary">Alterar</button></td>
				<td><button class="btn btn-primary">Excluir</button></td>
			</tr>
		</table>

</div> 