<link rel="stylesheet" href="css/interno/criarprojeto.css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="panel-body" ng-controller="PageProjetoCtrl"	>
   <div class="criarProjetos">
      <div class="panelcriar panel-default">
         <div class="panel-body">
         	<div class="identificacao">CRIAR PROJETO</div>
            <div class="campos">
               <form>
                  <div class="campos_cadastro01">
                     <label class="label label-default" for="tp">Título do projeto:</label>
                     <input class="form-control" placeholder="Informe o título do projeto" id="tp" ng-model="projeto.nome" required>
                     <br/>
                     <label class="label label-default" for="dp">Descrição do projeto:</label>
                     <textarea class="form-control" cols="20" rows="6" maxlength="500" placeholder="Descreva sobre o seu projeto (No máximo 500 caracteres)." id="dp" ng-model="projeto.descricao" required></textarea>
                     <br/>
                     <label class="label label-default" for="de">Data de entrega:</label>
                     <input style="width: 150px" type="date" class="form-control" placeholder="dd/mm/aaaa" id="de"  ng-model="projeto.dataEntrega" required>
                     <br/>
                     <label class="label label-default" for="em">Vagas:</label>
                     <input style="width: 60px" class="form-control" type="number" max="10" min="1" placeholder="" id="sn" pattern="[0-9]+$" ng-model="projeto.vagas" required>
                     <br/>
                     <label class="label label-default" for="nc">Competências necessárias:</label>		
                     <select class="form-control" id="es" ng-model="projeto.competencias" ng-options="competencia.nomeCompetencia for competencia in competencias">
                        <option value="">Selecione uma competência...</option>
                     </select>
                     <button class="adicionar" ng-click="adicionaCompetencia()">Adicionar competência</button>
                     <br/><br/>
                     <label class="label label-default" for="cd">Participantes:</label>
                     <select class="form-control" id="cd" ng-model="projeto.usuarios" ng-options="usuario.usernameUsuario for usuario in usuarios | filter: {idUsuario: '!'+UsuarioLogado}">
                        <option value="">Selecione um participante</option>
                     </select>
                     <button class="adicionar" ng-click="adicionaUsuario()">Adicionar usuário</button>
                     <br/><br/>
                     <button style="float: left;" class="criar" ng-click="SalvarCadastro(projeto)">Criar projeto</button>
                     <script type="text/javascript">
                        function home()
                        {
                        	location.href="wecanHome.html";
                        }
                     </script>
                     <a style="float: right; text-decoration:none; text-align:center" class="criar" ng-href="#/dashboard">Cancelar</a>
                  </div>
               </form>
            </div>
         </div>
      </div>
      <div class="panelinf panel panel-default">
         <div class="panel-heading">Competência necessárias para o projeto</div>
         <div class="panel-body" ng-repeat="competenciaDoProjeto in competenciasDoProjeto">
         	<span class="infoprojeto">
         		<i class="fa fa-graduation-cap" aria-hidden="true"></i>
            	{{competenciaDoProjeto.nomeCompetencia}}
         	</span>
         </div>
      </div>
      <div class="panelinf panel panel-default">
         <div class="panel-heading">Integrantes do projeto</div>
         <div class="panel-body" ng-repeat="usuarioDoProjeto in usuariosDoProjeto">
         	<span class="infoprojeto">
         		<i class="fa fa-user-circle" aria-hidden="true"></i>
            	{{usuarioDoProjeto.nomeUsuario}}
         	</span>
         </div>
      </div>
   </div>
</div>