<style type="text/css">
  .listv{
     margin-bottom: 30px;
  }
  .editpopup{
     width: 250px;
     height: 250px;
     border: 1px solid black;
     display: none;
     position: absolute;
     top: center;
     left: center;
     bottom: center;
     right: center;

     background-color:gray;
  }
  .editpopup-true{
     display: block;
  }
  .editpopup-false{
     display: none;
  }
  </style>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<br/><br/><br/><br/>
<div ng-controller="PageProjetoCtrl"	>
		{{ Resposta }}
		<p class="form-group">
			<input placeholder="Nome" class="form-control" type="text" ng-model="projeto.nome" required />
		</p class="form-group">
		
		<p class="form-group">
			<input placeholder="Descrição" class="form-control" type="text" ng-model="projeto.descricao" required />
		</p class="form-group">
		
		<p class="form-group">
			<select class="form-control" ng-model="projeto.organizador" ng-options="usuario.nomeUsuario for usuario in usuarios">
					<option value="">Selecione o organizador do projeto...</option>					
			</select>
		</p class="form-group">
		
		<p class="form-group">
			<input placeholder="Vagas" class="form-control" type="text" ng-model="projeto.vagas" required />
		</p class="form-group">		
		
		
		<p class="form-group">
			<input placeholder="Data Entrega" class="form-control" type="date" ng-model="projeto.dataEntrega" required />
		</p class="form-group">
		
		<p class="form-group">
			<select class="form-control" ng-model="projeto.competencias" ng-options="competencia.nomeCompetencia for competencia in competencias">
					<option value="">Selecione uma competência...</option>
					
			</select>
			<button ng-click="adicionaCompetencia()">Adicionar competência</button>
			
		
	    <table class="table ">
	      <thead>
	        <tr>
	          <th>Competências necessárias no projeto</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="competenciaDoProjeto in competenciasDoProjeto">
	          <td>{{ competenciaDoProjeto.nomeCompetencia }}</td>
	        </tr>
	      </tbody>
		</table>
		
		</p class="form-group">

		<p class="form-group">
			<select class="form-control" ng-model="projeto.usuarios" ng-options="usuario.nomeUsuario for usuario in usuarios">
					<option value="">Selecione um usuário...</option>
					
			</select>
			<button ng-click="adicionaUsuario()">Adicionar usuário</button>
		</p class="form-group">
		
	    <table class="table ">
	      <thead>
	        <tr>
	          <th>Equipe do projeto</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr ng-repeat="usuarioDoProjeto in usuariosDoProjeto">
	          <td>{{ usuarioDoProjeto.nomeUsuario }}</td>
	        </tr>
	      </tbody>
		</table>

		
		
		<button class="btn btn-success" ng-click="SalvarCadastro(projeto)">Cadastrar</button>
</div>
<br/><br/>
<div ng-controller="PageProjetoCtrl">

		<button class="btn btn-primary" ng-click="BuscarInformacao()">Buscar projetos</button>
		
		<div class="editpopup editpopup-{{istrue}} ">
	        <p>edit Id:<input type="text" ng-model="editedidProjeto"></p>
	        <p>edit Projeto:<input type="text" ng-model="editednome"></p>
	        <p>edit Descrição:<input type="text" ng-model="editeddescricao"></p>
	        <p>edit Data:<input type="date" ng-model="editeddataEntrega"></p>
	        <button ng-click="SalvarAlteracao(editedidProjeto, editednome, editeddescricao,editeddataEntrega)">Salvar</button>
	        <button ng-click="FecharPopUpEdicao()">Cancelar</button>
     	</div>		
     	
		<br/><br/>
		<br/><br/>
		<table class="table ">
			<tr>
				<td>ID</td>
				<td>NOME</td>
				<td>DESCRIÇÃO</td>
				<td>Data Entrega</td>
			</tr>
			<tr ng:repeat="projeto in projetos">
				<td>{{projeto.idProjeto}}</td>
				<td>{{projeto.nome}}</td>
				<td>{{projeto.descricao}}</td>
				<td>{{projeto.dataEntrega}}</td>
				<!-- <td>{{projeto.usuarios[0].nomeUsuario}}</td>  -->
				<td><button ng-click="CarregarEdicao(projeto)" class="btn btn-primary">Alterar</button></td>
				<td><button class="btn btn-primary" ng-click="ExcluirElemento(projeto)">Excluir</button></td>
				
			</tr>
		</table>

</div> 