<meta charset="utf-8" />
<link rel="stylesheet" href="css/criarProjeto.css">
<div class="content" ng-controller="PageProjetoCtrl">
   <div class="container-fluid">
      <div class="row">
      	<div class="col-md-4">
            <div class="col-md-12">
               <div class="card">
                  <div style="padding-bottom: 15px;" class="header">
                     <label style="color: #fff;" class="label label-primary">Competências necessárias</label>
                  </div>
                  <div style="padding: 0px !important" class="card-content">
                     <div ng-repeat="competenciaDoProjeto in competenciasDoProjeto">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        {{competenciaDoProjeto.nomeCompetencia}} 
                        <button ng-click="ApagarCompetenciaDoprojetoACriar(competenciaDoProjeto)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i></button>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-12">
               <div class="card">
                  <div style="padding-bottom: 15px;" class="header">
                     <label style="color: #fff;" class="label label-primary">Integrantes do projeto</label>
                  </div>
                  <div style="padding: 0px !important" class="card-content">
                     <div ng-repeat="usuarioDoProjeto in usuariosDoProjeto">
                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                        {{usuarioDoProjeto.nomeUsuario}} 
                        <button ng-click="ApagarUsuariosDoprojetoACriar(usuarioDoProjeto)" type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
                        <i class="fa fa-times"></i></button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-8">
            <div class="card">
               <div class="header">
                  <label style="color: #fff;" class="label label-primary">Criar projeto</label>
               </div>
               <div class="content">
                  <form>
                     <div class="row">
                        <div class="col-md-6">
                              <label>Título do projeto</label>
                              <input type="text" class="form-control" ng-model="projeto.nome" placeholder="Insira um título para o projeto..." required>
                        </div>
                        <div class="col-md-4">
                              <label>Data de entrega</label>
                              <input type="date" class="form-control" placeholder="dd/mm/aaaa" ng-model="projeto.dataEntrega" required/>
                        </div>
                        <div class="col-md-2">
                              <label>Vagas</label>
                              <input class="form-control" type="number" max="10" min="1" placeholder="" id="sn" pattern="[0-9]+$" ng-model="projeto.vagas" required>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                              <label>Descrição do projeto</label>
                              <textarea class="form-control" cols="20" rows="4" maxlength="500" placeholder="Descreva sobre o seu projeto (No máximo 500 caracteres)." ng-model="projeto.descricao" required></textarea>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                              <label>Competências necessárias:</label>		
                              <select class="form-control" ng-model="projeto.competencias" ng-options="competencia.nomeCompetencia for competencia in competencias">
                                 <option value="">Selecione uma competência...</option>
                              </select>
                              <label>&nbsp;</label>
                              <button class="btn btn-info btn-fill btn-xs" ng-click="adicionaCompetencia()">
                              <i class="fa fa-plus" aria-hidden="true"></i> Adicionar competência
                              </button>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                              <label>Participantes:</label>
                              <select class="form-control" ng-model="projeto.usuarios" ng-options="usuario.usernameUsuario for usuario in usuarios | filter: {idUsuario: '!'+UsuarioLogado}">
                                 <option value="">Selecione um participante</option>
                              </select>
                              <label>&nbsp;</label>
                              <button class="btn btn-info btn-fill btn-xs" ng-click="adicionaUsuario()">
                              <i class="fa fa-plus" aria-hidden="true"></i>Adicionar participante
                              </button>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-md-12">
                              <label>Este Projeto é de TCC:</label>
                               <input type="checkbox" ng-change="habilitarTCC()" ng-model="projetoDeTCC">
                        </div>
                     </div>
                  </form>
                  <div style="margin-top: 40px;" class="col-md-6">
                        <button style="width: 100%" class="btn btn-info btn-fill" ng-click="SalvarCadastro(projeto)">Criar projeto</button>
                  </div>
                  <div style="margin-top: 40px;" class="col-md-6">
                        <script type="text/javascript">
                           function home()
                           {
                               location.href="wecanHome.html";
                            }
                        </script>
                        <a style="width: 100%; text-decoration:none; text-align:center" class="btn btn-danger btn-fill" ng-href="#/dashboard">Cancelar</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- <link rel="stylesheet" href="css/interno/criarprojeto.css">
   <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   <meta charset="utf-8">
   <div class="panel-body" ng-controller="PageProjetoCtrl"	>
      <div class="criarProjetos">
         <div class="panelcriar panel-default">
            <div class="panel-body">
            	<div class="identificacao">CRIAR PROJETO</div>
               <div class="campos">
                  <form>
                     <div class="campos_cadastro01">
                        <label class="label label-default" for="tp">Título do projeto:</label>
                        <input class="form-control" placeholder="Informe o título do projeto" id="tp" ng-model="projeto.nome" required>
                        <br/>
                        <label class="label label-default" for="dp">Descrição do projeto:</label>
                        <textarea class="form-control" cols="20" rows="6" maxlength="500" placeholder="Descreva sobre o seu projeto (No máximo 500 caracteres)." id="dp" ng-model="projeto.descricao" required></textarea>
                        <br/>
                        <label class="label label-default" for="de">Data de entrega:</label>
                        <input style="width: 180px" type="date" class="form-control" placeholder="dd/mm/aaaa" id="de"  ng-model="projeto.dataEntrega" required>
                        <br/>
                        <label class="label label-default" for="em">Vagas:</label>
                        <input style="width: 60px" class="form-control" type="number" max="10" min="1" placeholder="" id="sn" pattern="[0-9]+$" ng-model="projeto.vagas" required>
                        <br/>
                        <label class="label label-default" for="nc">Competências necessárias:</label>		
                        <select class="form-control" id="es" ng-model="projeto.competencias" ng-options="competencia.nomeCompetencia for competencia in competencias">
                           <option value="">Selecione uma competência...</option>
                        </select>
                        <button class="adicionar" ng-click="adicionaCompetencia()">Adicionar competência</button>
                        <br/><br/>
                        <label class="label label-default" for="cd">Participantes:</label>
                        <select class="form-control" id="cd" ng-model="projeto.usuarios" ng-options="usuario.usernameUsuario for usuario in usuarios | filter: {idUsuario: '!'+UsuarioLogado}">
                           <option value="">Selecione um participante</option>
                        </select>
                        <button class="adicionar" ng-click="adicionaUsuario()">Adicionar usuário</button>
                        <br/><br/>
                        <button style="float: left;" class="criar" ng-click="SalvarCadastro(projeto)">Criar projeto</button>
                        <script type="text/javascript">
                           function home()
                           {
                           	location.href="wecanHome.html";
                           }
                        </script>
                        <a style="float: right; text-decoration:none; text-align:center" class="criar" ng-href="#/dashboard">Cancelar</a>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <div class="panelinf panel panel-default">
            <div class="panel-heading">Competência necessárias para o projeto</div>
            <div class="panel-body" ng-repeat="competenciaDoProjeto in competenciasDoProjeto">
            	<span class="infoprojeto">
            		<i class="fa fa-graduation-cap" aria-hidden="true"></i>
               	{{competenciaDoProjeto.nomeCompetencia}} <button class="adicionar" ng-click="ApagarCompetenciaDoprojetoACriar(competenciaDoProjeto)">Deletar</button>
            	</span>
            </div>
         </div>
         <div class="panelinf panel panel-default">
            <div class="panel-heading">Integrantes do projeto</div>
            <div class="panel-body" ng-repeat="usuarioDoProjeto in usuariosDoProjeto">
            	<span class="infoprojeto">
            		<i class="fa fa-user-circle" aria-hidden="true"></i>
               	{{usuarioDoProjeto.nomeUsuario}} <button class="adicionar" ng-click="ApagarUsuariosDoprojetoACriar(usuarioDoProjeto)">Deletar</button>
            	</span>
            </div>
         </div>
      </div>
   </div>-->