<link href="css/dashboard.css" rel="stylesheet"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="container-fluid">
   <div class="row" ng-controller="DashBoardCtrl">
      <div class="col-md-12">
         <div class="card">
            <div class="header">
               <h4 class="title">
                  Bem vindo, {{UsuarioLogado}}
               </h4>
            </div>
            <br/>
            <div class="col-md-6" ng:repeat="card in cardsProjetos">
               <div class="card">
                  <a ui-sref="pageDetalhesProjeto({idProjeto:{{card.idProjeto}}})">
                     <div class="card-header" data-background-color="dark">
                        <h4 class="title">{{card.nomeProjeto}}</h4>
                        <p class="category">Criado em: {{ card.dataCriacao | date: 'dd/MM/yyyy'}}</p>
                     </div>
                  </a>
                  <div class="card-content table-responsive">
                     Entrega: {{ card.dataEntrega | date: 'dd/MM/yyyy'}}<br/>
                     Tarefas: {{card.totalTarefas}}<br/>
					 <br/>
                     Status
                     <div class="progress">
                        <div class="progress-bar progress-bar-danger" ng-style="{'width': card.porcentPendente+'%'}">
                           <span class="sr-only">10% Complete (danger)</span>
                        </div>
                        <div class="progress-bar progress-bar-warning" ng-style="{'width': card.porcentAndamento+'%'}">
                           <span class="sr-only">20% Complete (warning)</span>
                        </div>
                        <div class="progress-bar progress-bar-success" ng-style="{'width': card.porcentConcluido+'%'}">
                           <span class="sr-only">35% Complete (success)</span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>