

<style type="text/css">
   .panel-heading {
   background-color: #11161c!important;
   color: #fff!important;
   border: 1px solid #ddd!important;}
   .panel-info {
   border-color: #ddd!important;
   }
   .listv{
   margin-bottom: 30px;
   }
   .createpopup{
   width: 250px;
   border: 1px solid black;
   display: none;
   position: absolute;
   top: center;
   left: center;
   bottom: center;
   right: center;
   background-color:#c2c2d6;
   }
   .createpopup-true{
   display: block;
   }
   .createpopup-false{
   display: none;
   }   
   .editpopup{
   width: 250px;
   border: 1px solid black;
   display: none;
   position: absolute;
   top: center;
   left: center;
   bottom: center;
   right: center;
   background-color:#c2c2d6;
   }
   .editpopup-true{
   display: block;
   }
   .editpopup-false{
   display: none;
   }
   .botao{
   float:right;
   }
   .topName
   {
   font-size:22px;
   font-weight:normal;
   margin-bottom:23px;
   vertical-align:text-top;
   height:22px;
   display:block;
   text-align: center}
   .List_inline
   {margin:0;
   padding:0;
   list-style:none}   
   .mainTitle
   {
   color:#000;
   font-size: 1.2em;
   }
   .campos_projeto
   {
   width: 50%;
   height: auto;
   float: left;
   padding: 20px;
   text-align: center
   }
   .tabelas_projeto
   {
   width: 50%;
   height: auto;
   float: left;
   padding: 20px;
   padding-top: 20px;
   }
   .headerLogo
   {
   background-attachment: fixed;
   background-image: url(img/wallpaper02.png);
   background-repeat: no-repeat;
   background-position: center;
   padding-top: 0px;
   }
   .organizador-true{
   display: block;
   }
   .organizador-false{
   display: none;
   }
   .participante-true{
   display: block;
   }
   .participante-false{
   display: none;
   }
   .avaliado-true{
   display: block;
   }
   .avaliado-false{
   display: none;
   }
</style>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<br/>
<div class="panel-body" ng-controller="PageProjetoCtrl"	>
   {{ Resposta }}
   <div class="headerLogo">
      <div>
         <!-- Comum -->
         <div>
            <p class="form-group">
            <div>
               <h2 class="topName">{{projeto.nome}}</h2>
            </div>
            <h3 class="mainTitle">Descrição do projeto</h3>
            <div style="display: block;">{{projeto.descricao}}</div>
            <h3 class="mainTitle">Competências necessárias</h3>
            <table class="table-bordered" width="100%" style="background-color:#f2f2f2">
               <tbody>
                  <tr ng-repeat="competenciaDoProjeto in competenciasDoProjeto">
                     <td>{{ competenciaDoProjeto.nomeCompetencia }}</td>
                  </tr>
               </tbody>
            </table>
            </br>
            <h3 class="mainTitle">Integrantes</h3>
            <table class="table-bordered" width="100%" style="background-color:#f2f2f2">
               <tbody>
                  <tr ng-repeat="usuarioDoProjeto in usuariosDoProjeto">
                     <td><a ui-sref="perfil({idUsuario: {{usuarioDoProjeto.idUsuario}} })" ui-sref-active="active">{{usuarioDoProjeto.nomeUsuario}}</a></td>
                  </tr>
               </tbody>
            </table>
            </p>	
            </br>
            <button class="btn btn-primary" ng-show="projeto.organizador.idUsuario == UsuarioLogado" ng-click="StatusProjeto(projeto)">{{modificarStatusProjeto(projeto)}}</button>
         </div>
         <!-- End comum -->
         <!-- aberto-->
         <div ng-show="projeto.status == 'Aberto'">
            <h3 class="mainTitle">Candidatos</h3>
            <table class="table-bordered" width="100%" style="background-color:#f2f2f2">
               <tbody>
                  <tr ng-repeat="aprovacaoUsuario in aprovacaoUsuarios">
                     <td><a ui-sref="perfil({idUsuario: {{aprovacaoUsuario.idUsuario}} })" ui-sref-active="active">{{ aprovacaoUsuario.nomeUsuario }}</a></td>
                     <td>{{ aprovacaoUsuario.dataCriacao }}</td>
                     <td>{{ aprovacaoUsuario.status }}</td>
                     <td><button ng-show="projeto.organizador.idUsuario == UsuarioLogado" class="btn btn-primary botao avaliado-{{ aprovacaoUsuario.status == 'Aguardando Aprovação' ? 'true' : 'false' }} " ng-click="AceitarParticipante(aprovacaoUsuario) "  >Aceitar</button></td>
                     <td><button ng-show="projeto.organizador.idUsuario == UsuarioLogado" class="btn btn-primary botao avaliado-{{ aprovacaoUsuario.status == 'Aguardando Aprovação' ? 'true' : 'false' }} " ng-click="RecusarParticipante(aprovacaoUsuario) " >Recusar</button></td>
                  </tr>
               </tbody>
            </table>
            </p>	
         </div>
         <!-- fim aberto -->	
      </div>
   </div>
   <!-- em antamento -->
   <div ng-controller="PageTarefaCtrl" ng-show="projeto.status == 'Em andamento'">
      <br/><br/>
      <button ng-click="CriarTarefa()">+</button>
      <br/>
      <div class="createpopup createpopup-{{createIstrue}} ">
         <p class="form-group">
            <input placeholder="Nome" class="form-control" type="text" ng-model="tarefa.nomeTarefa" required />
            <input placeholder="Descrição" class="form-control" type="text" ng-model="tarefa.descricaoTarefa" required />
            <input placeholder="Prazo de entrega" class="form-control" type="date" ng-model="tarefa.prazoEntrega" required />
            </p class="form-group">
            <button ng-click="SalvarCadastro(tarefa)">Cadastrar</button>
            <button ng-click="FecharPopUpCriacao()">Cancelar</button>
      </div>
      <div class="editpopup editpopup-{{editIstrue}} ">
         <p>Nome:<input type="text" ng-model="editednameTarefa"></p>
         <p>Descrição:<input type="text" ng-model="editeddescricaoTarefa"></p>
         <p>Prazo de entrega:<input type="date" ng-model="editedprazoEntrega"></p>
         <button ng-click="SalvarAlteracao(editedidTarefa, editednameTarefa, editedProjetoTarefa, editeddescricaoTarefa, editedprazoEntrega)">Salvar</button>
         <button ng-click="FecharPopUpEdicao()">Cancelar</button>
      </div>
      <div class="panel panel-info" style="height: 300px; width: 33%; float: left;" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)">
         <div class="panel-heading">
            <h3 class="panel-title">Pendente</h3>
         </div>
         <div id ="Pendente" class="panel-body" style="  height: 90%; width: 100%; float: left;">
            <div id="{{tarefa.idTarefa}}rep"ng:repeat="tarefa in tarefas | filter: {statusTarefa : 'Pendente'}">
               <div id="{{tarefa.idTarefa}}" style="background: white;" draggable="true"
                  ondragstart="angular.element(this).scope().drag(event)">{{tarefa.nomeTarefa}}  
                  <button style="float:right" ng-click="ExcluirElemento(tarefa)">-</button>
                  <button style="float:right" ng-click="CarregarEdicao(tarefa)">Alt</button>
               </div>
               <br>
            </div>
         </div>
      </div>
      <div class="panel panel-info" style="height: 300px; width: 33%; float: left;" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)">
         <div class="panel-heading">
            <h3 class="panel-title">Em andamento</h3>
         </div>
         <div id ="Em andamento" class="panel-body" style="  height: 90%; width: 100%; float: left;">
            <div id="{{tarefa.idTarefa}}rep"ng:repeat="tarefa in tarefas | filter: {statusTarefa : 'Em andamento'}">
               <div id="{{tarefa.idTarefa}}" style="background: white;" draggable="true"
                  ondragstart="angular.element(this).scope().drag(event)">{{tarefa.nomeTarefa}}  
                  <button style="float:right" ng-click="ExcluirElemento(tarefa)">-</button>
                  <button style="float:right" ng-click="CarregarEdicao(tarefa)">Alt</button>
               </div>
               <br>
            </div>
         </div>
      </div>
      <div class="panel panel-info" style="height: 300px; width: 33%; float: left;" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event)">
         <div class="panel-heading">
            <h3 class="panel-title">Concluído</h3>
         </div>
         <div id ="Concluído" class="panel-body" style="  height: 90%; width: 100%; float: left;">
            <div id="{{tarefa.idTarefa}}rep"ng:repeat="tarefa in tarefas | filter: {statusTarefa : 'Concluído'}">
               <div id="{{tarefa.idTarefa}}" style="background: white;" draggable="true"
                  ondragstart="angular.element(this).scope().drag(event)">{{tarefa.nomeTarefa}}  
                  <button style="float:right" ng-click="ExcluirElemento(tarefa)">-</button>
                  <button style="float:right" ng-click="CarregarEdicao(tarefa)">Alt</button>
               </div>
               <br>
            </div>
         </div>
      </div>
   </div>
   <!-- end em andamento  -->
   <br/>
   <!-- Comum -->
   <div ng-controller="FeedCtrl">
   		<div>
   			<h2>{{feed.tituloFeed}}</h2>
   			<p>{{feed.textoFeed}}</p>
   		</div>
   		<hr/>	
   		<div>
   			<p><textarea class="form-control" cols="20" rows="6" maxlength="500" placeholder="Comente aqui (No máximo 500 caracteres)." id="dp" ng-model="comentarioFeed" required></textarea></p>
   			<button style="float:left" class="btn btn-primary" ng-click="salvarPost(feed, comentarioFeed)">Comentar</button>
   		</div>
   		<hr/>	
   		<div ng:repeat="resposta in respostasFeed | orderBy : idResposta : true">
   			<p><a ui-sref="perfil({idUsuario: {{resposta.usuarioResposta.idUsuario}} })" ui-sref-active="active">{{resposta.usuarioResposta.usernameUsuario}}</a> | {{ resposta.dataResposta | date: 'dd/MM/yyyy - HH:mm:ss'  }}</p>
   			<p>{{resposta.textoResposta}}</p>
   			<hr/>	
   		</div>
   </div>
   <!-- End Comum -->
</div>

