<div ng-controller="FeedCtrl">
	<button class="btn btn-primary" ng-click="buscarFeeds()">Buscar</button>
			<table class="table" ng:repeat="feed in feeds">
			<tr>
				<td>{{feed.tituloFeed}}</td>
				<td>{{feed.textoFeed}}</td>
			</tr>
			<tr ng:repeat="resposta in respostas | filter: feed.tituloFeed">
				<td>{{resposta.usuarioResposta.usernameUsuario}}</td>
				<td>{{resposta.textoResposta}}</td>
			</tr>
			<tr>
				<td><textarea type="text" ng-model="respostaFeed" placeholder="Comente aqui..."></textarea></td>
				<td><button class="btn btn-primary" ng-click="salvarPost(feed, respostaFeed)">Enviar</button></td>
			</tr>
		</table>
</div>