<link rel="stylesheet" href="css/projeto.css">
<link href="css/dashboard.css" rel="stylesheet"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="container-fluid">
   <div ng-controller="DashBoardCtrl">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <label style="color: #fff;" class="label label-primary">
                  Avaliações
                  </label>
               </div>
               <br/>
               <div class="col-md-12">
                  <div ng-controller="PageAvaliacaoCtrl">
                     <h5 style="border-bottom: 1px solid #dcdcdc;" class="text-default">
	               			Selecione uma a avaliação:
	               	 </h5>
                     <button class="btn btn-info btn-fill btn-xs" ng-click="voltar()">Voltar para disciplinas</button>
                     <form>
                        <br/>
                        <input ng-model="buscaAvaliacao" ng-change="BuscarInformacaoAvaliacao()" type="text" name="search" placeholder="Localizar">
                     </form>
                     <br>
                     <div style="text-align: center; word-wrap: break-word; height: 200px; background-color: #32464c; border: 2px solid #fff; padding-top: 30px; padding-bottom: 30px; border-radius: 6px;" class="col-md-4" ng-repeat="avaliacao in avaliacoes | filter:filtroDisciplina(disciplina) | filter: buscaAvaliacao ">
                        <label class="text-info">Avaliação</label><br/>
                        <label style="color: #fff;" class="description">{{avaliacao.nomeAvaliacao}}</label><br/>
                        <label class="text-info">Professor</label><br/>
                        <label style="color: #fff;" class="description">{{avaliacao.professor.nomeUsuario}}</label><br/>
                        <a ng-hide="ValidaAcessoAvaliacao({{avaliacao.idAvaliacao}})" class="btn btn-info btn-fill" ui-sref="pageListaExercicios({idAvaliacao: {{avaliacao.idAvaliacao}} })" id="titulo">
                        	Iniciar avaliação
                        </a> 
                        <div ng-show="ValidaAcessoAvaliacao({{avaliacao.idAvaliacao}})" style="border-radius: 3px; padding: 1px; sclear:both; width: 100%; height: 20px; background-color: #72f290;">
                        	<span style="color: #1e4c29">Concluída</span>
                        </div>
                     </div>
                     <br>	
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>