<style type="text/css">
   .liAvaliacao{
   list-style-type:none;
   }
</style>
<link rel="stylesheet" href="css/projeto.css">
<link href="css/dashboard.css" rel="stylesheet"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="container-fluid">
   <div ng-controller="DashBoardCtrl">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <label style="color: #fff;" class="label label-primary">
                  Avaliações
                  </label>
               </div>
               <br/>
               <div class="col-md-6">
                  <div ng-controller="PageAvaliacaoCtrl">
                     <legend>Selecione uma avaliação:</legend>
                     <form>
                        <br/>
                        <input ng-model="buscaAvaliacao" ng-change="BuscarInformacaoAvaliacao()" type="text" name="search" placeholder="Localizar">
                     </form>
                     <br>
                     <li class='liAvaliacao' ng-repeat="avaliacao in avaliacoes | filter:filtroDisciplina(disciplina) | filter: buscaAvaliacao ">
                        Avaliação: {{avaliacao.nomeAvaliacao}} - Professor: {{avaliacao.professor.nomeUsuario}} <a ng-hide="ValidaAcessoAvaliacao({{avaliacao.idAvaliacao}})" class="btn btn-info btn-fill" ui-sref="pageListaExercicios({idAvaliacao: {{avaliacao.idAvaliacao}} })" id="titulo">Iniciar</a> <label style="color: #228B22;"  ng-show="ValidaAcessoAvaliacao({{avaliacao.idAvaliacao}})"><b>Avaliação realizada</b></label>
                     </li>
                     <br>	
                     <button class="btn btn-info btn-fill" ng-click="voltar()">Voltar</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>