<link rel="stylesheet" href="css/projeto.css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="container-fluid">
	<div ng-controller="DashBoardCtrl">
		<div class="row">
			<div class="col-md-12">
	            <div class="card">
	               <div class="header">
	                  <label style="color: #fff;" class="label label-primary">
	                     Avaliações
	                  </label>
	               </div>
	               <div ng-controller="PageAvaliacaoCtrl">
	               		<h5 style="border-bottom: 1px solid #dcdcdc;" class="text-default">
	               			Selecione uma disciplina para realizar a avaliação:
	               		</h5>
	               		<form>
				   			<br/>
							<input ng-model="buscaDisciplina" ng-change="BuscarDisciplinas()" type="text" name="search" placeholder="Localizar">
				   		</form>
	               		<div class="content">
	               			<div>
	                    		<a ui-sref="pageListaAvaliacoes({idDisciplina: {{disciplina.idDisciplina}} })" id="titulo" ng:repeat="disciplina in disciplinas | filter: buscaDisciplina" style="text-align: center;">
	                    			<div class="col-md-2 disciplina">
	                    				<i class="fa fa-pencil" aria-hidden="true"></i><br/>
	                        			{{disciplina.nomeDisciplina}}
	                        		</div>
	                        	</a>
	                    	</div>
	               		</div>
	               </div>
	        	</div>
	    	</div>
		</div>
	</div>
</div>
<!-- <div class="container-fluid">

   <div ng-controller="DashBoardCtrl">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <label style="color: #fff;" class="label label-primary">
                     Avaliações
                  </label>
               </div>
               <br/>
               <div class="col-md-6">
					<div ng-controller="PageAvaliacaoCtrl">
					
					<legend>Selecione uma Disciplina para realizar a avaliação:</legend>
					<form>
					   <br/>
					   <input ng-model="buscaDisciplina" ng-change="BuscarDisciplinas()" type="text" name="search" placeholder="Localizar">
					</form>
					<br>	
						<li  ng:repeat="disciplina in disciplinas | filter: buscaDisciplina">		 
							 <td><a ui-sref="pageListaAvaliacoes({idDisciplina: {{disciplina.idDisciplina}} })" id="titulo">{{disciplina.nomeDisciplina}}</a></td>		 
						</li>
						
						<br>
						<button class="btn btn-info btn-fill" ng-click="voltar()">Voltar</button>
					</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
-->