<link rel="stylesheet" href="css/interno/listarprojeto.css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div ng-controller="ListarProjetosCtrl">

		<div class="listarProjetos">
			<div class="search">
					<input ng-model="search" type="text" size="40" placeholder="search..." ng-change="BuscarInformacao()"/>
					<i style="font-size: 18px; color: #131922" class="fa fa-search" aria-hidden="true"></i>
					<a id="criarProjeto" ng-href="#/pageProjeto">+</a>
			</div>
			<div class="panelcriar panel-default" ng:repeat="projeto in projetos | filter: search">
				<div class="panel-body">
					<div class="projetoInf">
						<div class="integrantes">
							<label>{{projeto.participantes}}</label>
							<p>Integrantes</p>
						</div>
						<div class="projetoDesc">
							<a ui-sref="pageDetalhesProjeto({idProjeto:{{projeto.idProjeto}}})" id="titulo">{{projeto.nome}}</a>
								<p><label>{{projeto.organizador.nomeUsuario}}</label><label>{{projeto.organizador.cursoUsuario.nomeCurso}}</label>
								<label><a ui-sref="pageAlterarProjeto({idProjeto:{{projeto.idProjeto}}})" ng-show="{{projeto.organizador.idUsuario}} == {{UsuarioLogado}}">Alterar</a></label></p>
							<p><div id="desc" >{{projeto.descricao}}</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>