<link rel="stylesheet" href="css/projeto.css">
<style type="text/css">
   .listv{
   margin-bottom: 30px;
   }
   .editpopup{
   width: 250px;
   height: 250px;
   border: 1px solid black;
   display: none;
   position: absolute;
   top: center;
   left: center;
   bottom: center;
   right: center;
   background-color:gray;
   }
   .editpopup-true{
   display: block;
   }
   .editpopup-false{
   display: none;
   }
   
   .liAvaliacao{
   list-style-type:none;
   }
   
   
</style>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<div class="container-fluid">

   <div ng-controller="DashBoardCtrl">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <label style="color: #fff;" class="label label-primary">
                     Avaliações
                  </label>
               </div>
               <br/>
               <div class="col-md-6">
					<div ng-controller="PageAvaliacaoCtrl">
					
					<legend>Selecione uma Disciplina para realizar a avaliação:</legend>
					<form>
					   <br/>
					   <input ng-model="buscaDisciplina" ng-change="BuscarDisciplinas()" type="text" name="search" placeholder="Localizar">
					</form>
					<br>	
						<li  ng:repeat="disciplina in disciplinas | filter: buscaDisciplina">		 
							 <td><a ui-sref="pageListaAvaliacoes({idDisciplina: {{disciplina.idDisciplina}} })" id="titulo">{{disciplina.nomeDisciplina}}</a></td>		 
						</li>
						
						<br>
						<button class="btn btn-info btn-fill" ng-click="voltar()">Voltar</button>
					</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
