<link href="css/dashboard.css" rel="stylesheet"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="container-fluid">
   <div ng-controller="DashBoardCtrl">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <h4 class="label label-info">
                     Avaliações
                  </h4>
               </div>
               <br/>
               <div class="col-md-6">
					Em breve...
               </div>
            </div>
         </div>
      </div>
   </div>
</div>