<style type="text/css">
   .liAvaliacao{
   list-style-type:none;
   }
</style>
<link rel="stylesheet" href="css/projeto.css">
<link href="css/dashboard.css" rel="stylesheet"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div class="container-fluid">
   <div ng-controller="DashBoardCtrl">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <label style="color: #fff;" class="label label-primary">
                  Avaliações
                  </label>
               </div>
               <br/>
               <div class="col-md-12">
                  <div id="questoes" ng-controller="PageAvaliacaoCtrl">
                     <h5 style="border-bottom: 1px solid #dcdcdc;" class="text-default">
	               			Responda as questões abaixo:
	               	</h5>
	               	<button class="btn btn-info btn-fill btn-xs" ng-click="voltar()">Voltar para avaliações</button>
                     <ol style="margin-top: 20px; padding: 20px; border-bottom: 3px solid #1dc7ea; background: #f2f2f2;">	
                        <li ng:repeat="exercicio in exercicios | filter:filtroAvaliacao(avaliacao)">
                            <span style="font-size: 15px;"><b>[Exercício: {{exercicio.tituloExercicio}}]</b> {{exercicio.descricaoExercicio}}</span>
                              <ol type="a" style="padding-top: 10px;">
                                 <li class="radio" ng:repeat="respostaAvaliacao in respostaAvaliacoes | filter:filtroExercicio(exercicio) ">
                                   <label class="description">
                                    <input type="radio" name="{{exercicio.idExercicio}}" value="{{respostaAvaliacao.idRespostaAvaliacao}}" /> 
                                    {{respostaAvaliacao.textoRespostaAvaliacao}}
                                   </label>
                                 </li>
                              </ol>
                        </li>
                     </ol>
                     <br>	
                     <button class="btn btn-info btn-fill" ng-click="voltar()">Sair</button>
                     <a class="btn btn-info btn-fill" ng-click="validarFormRespostas()" >Enviar</a><br/><br/>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>