<link rel="stylesheet" href="css/projeto.css">
<div ng-controller="ListarProjetosCtrl">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="header">
                  <label style="color: #fff;" class="label label-primary">
                     Meus projetos
                  </label>
                  <form>
                     <br/>
                     <input ng-model="search" ng-change="BuscarInformacao()" type="text" name="search" placeholder="Search..">
                  </form>
                  <br/>
                  <a class="btn btn-info btn-fill" ng-href="#/pageProjeto"><i class="fa fa-plus-circle" aria-hidden="true"></i>Novo projeto</a>
                  <br/>
                  </div>
                  <h5 style="border-bottom: 1px solid #dcdcdc;" class="text-default">
                     SEUS PROJETOS EM ANDAMENTO
                  </h5>
               <div class="content">
                  <div ng:repeat="projeto in projetosPorUsuario | filter: {status: 'Em andamento'}  | filter: search">
                     <div class="col-md-12">
                        <a ui-sref="pageDetalhesProjeto({idProjeto:{{projeto.idProjeto}}})">
                           <div id="card" class="card">
                              <h4 style="font-weight:bold" class="text-info">{{projeto.nome}}</h4>
                              <div class="form-group">
                                 <h4 class="title">
                                    <label class="label label-default">Integrantes:</label>
                                    <label>{{projeto.participantes}}</label>
                                    <label class="label label-default">Autor:</label>
                                    <label> {{projeto.organizador.usernameUsuario}}</label>
                                    <label class="label label-default">Curso:</label>
                                    <label>{{projeto.organizador.cursoUsuario.nomeCurso}}</label>
                                 </h4>
                                 <p class="description"  style="word-wrap: break-word">{{projeto.descricao}}</p>
                                 <label style="color: #fff" class="label label-warning">{{projeto.status}}</label>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
              <h5 style="border-bottom: 1px solid #dcdcdc;" class="text-default">
			 SEUS PROJETOS EM ABERTO
              </h5>
              <br/>
               <div class="content">
                  <div ng:repeat="projeto in meusProjetos | filter: {status: 'Aberto'} | filter: search">
                     <div class="col-md-12">
                        <a ui-sref="pageDetalhesProjeto({idProjeto:{{projeto.idProjeto}}})">
                           <div id="card" class="card">
                              <h4 style="font-weight:bold" class="text-info">{{projeto.nome}}</h4>
                              <div class="form-group">
                                 <h4 class="title">
                                    <label class="label label-default">Vagas:</label>
                                    <label>{{projeto.vagas}}</label>
                                    <label class="label label-default">Integrantes:</label>
                                    <label>{{projeto.participantes}}</label>
                                    <label class="label label-default">Autor:</label>
                                    <label> {{projeto.organizador.usernameUsuario}}</label>
                                    <label class="label label-default">Curso:</label>
                                    <label>{{projeto.organizador.cursoUsuario.nomeCurso}}</label>
                                 </h4>
                                 <p class="description" style="word-wrap: break-word">{{projeto.descricao}}</p>
                                 <label style="color: #fff" class="label label-primary">{{projeto.status}}</label>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
             <h5 style="border-bottom: 1px solid #dcdcdc;" class="text-default">
			 SEUS PROJETOS EM AVALIACAO
              </h5>
              <br/>
               <div class="content">
                  <div ng:repeat="projeto in projetosPorUsuario | filter: {status: 'Avaliacao'} | filter: search">
                     <div class="col-md-12">
                        <a ui-sref="pageDetalhesProjeto({idProjeto:{{projeto.idProjeto}}})">
                           <div id="card" class="card">
                              <h4 style="font-weight:bold" class="text-info">{{projeto.nome}}</h4>
                              <div class="form-group">
                                 <h4 class="title">
                                    <label class="label label-default">Vagas:</label>
                                    <label>{{projeto.vagas}}</label>
                                    <label class="label label-default">Integrantes:</label>
                                    <label>{{projeto.participantes}}</label>
                                    <label class="label label-default">Autor:</label>
                                    <label> {{projeto.organizador.usernameUsuario}}</label>
                                    <label class="label label-default">Curso:</label>
                                    <label>{{projeto.organizador.cursoUsuario.nomeCurso}}</label>
                                 </h4>
                                 <p class="description" style="word-wrap: break-word">{{projeto.descricao}}</p>
                                 <label style="color: #fff" class="label label-primary">{{projeto.status}}</label>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>