<link rel="stylesheet" href="css/interno/listarprojeto.css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div ng-controller="ListarProjetosCtrl">
		<div class="listarProjetos">
			<div class="search">
				<input ng-model="search" type="text" size="40" placeholder="search..." ng-change="BuscarInformacao()"/>
				<i class="fa fa-search" aria-hidden="true"></i>
			</div>
			<a id="criarProjeto" ng-href="#/pageProjeto"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
			<div class="panelcriar panel-default" ng:repeat="projeto in meusProjetos | filter: search">
				<div class="panel-body">
					<div class="projetoInf">
						<div class="integrantes">
							<label>{{projeto.participantes}}</label>
							<p>Integrantes</p>
						</div>
						<div class="projetoDesc">
							<a ui-sref="pageDetalhesProjeto({idProjeto:{{projeto.idProjeto}}})" id="titulo">{{projeto.nome}}</a>
								<p><label>{{projeto.organizador.nomeUsuario}}</label><label>{{projeto.organizador.cursoUsuario.nomeCurso}}</label>
								<label><a ui-sref="pageAlterarProjeto({idProjeto:{{projeto.idProjeto}}})" ng-show="projeto.organizador.idUsuario == UsuarioLogado">Alterar</a></label></p>
							<p><div id="desc" >{{projeto.descricao}}</div>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>

<!-- <style type="text/css">
  .listv{
     margin-bottom: 30px;
  }
  </style>

<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">

<div ng-controller="PageMeusProjetosCtrl">

		

		<button class="btn btn-primary" ng-click="BuscarMeusProjetos(UsuarioLogado)">Buscar projetos meus projetos</button>
		<br/><br/><br/><br/>
		<table class="table ">
			<tr>
				<td>Integrantes</td>
				<td>NOME</td>
				<td>Nome do usuário</td>
				<td>Nome do curso</td>
				<td>DESCRIÇÃO</td>
			</tr>
			<tr ng:repeat="projeto in projetos">
				<td>{{projeto.participantes}}</td>
				<td>{{projeto.nome}}</td>
				<td>{{projeto.organizador.nomeUsuario}}</td>
				<td>{{projeto.organizador.cursoUsuario.nomeCurso}}</td>
				<td>{{projeto.descricao}}</td>
				<td><a class="btn btn-primary" ui-sref="pageDetalhesProjeto({idProjeto:{{projeto.idProjeto}}})">Visualizar</a></td>	
				<td><a class="btn btn-primary" ui-sref="pageAlterarProjeto({idProjeto:{{projeto.idProjeto}}})">Alterar</a></td>				
				<td><button ng-click="CarregarEdicao(projeto)" class="btn btn-primary">Alterar</button></td>
				<td><button class="btn btn-primary" ng-click="ExcluirElemento(projeto)">Excluir</button></td>
			</tr>
		</table>

</div>  -->