<link rel="stylesheet" href="css/perfil.css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div ng-controller="PerfilCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">
                            Perfil
                        </h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                            Tipo usuário
                                        </label><br/>
                                        <label>{{tipoUsuariod}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                           Nome completo
                                        </label><br/>
                                        <label>{{nomeUsuariod}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                           Username
                                        </label><br/>
                                        <label>{{usernameUsuariod}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                           Email
                                        </label><br/>
                                        <label>{{emailUsuariod}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                           Estado
                                        </label><br/>
                                        <label>{{estadoUsuariod}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                           Cidade
                                        </label><br/>
                                        <label>{{cidadeUsuariod}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                           Instituição de ensino
                                        </label><br/>
                                        <label>{{instituicaoUsuariod}}</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label label-info">
                                           Curso
                                        </label><br/>
                                        <label>{{cursoUsuariod}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-controller="excluirUsuarioCtrl"> 
                            	<div class="col-md-12">
									<button ng-click="ExcluirElemento()" class="btn btn-danger btn-fill pull-right" ng-show="idUsuairiod == UsuarioLogado">Excluir perfil</button>
								</div>
  						</div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image"></div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                            	<img class="avatar" src="dash/img/faces/face-2.png" alt="..."/>
                            </a>
                        </div>
                        <label class="label-info text-center">
                            Habilidades
                        </label>
                        <div class="habilidade">
                        	<div>
	                        	<label>Nome da habilidade</label>
	                        	<div class="progress progress-line-primary">
			                    	<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
			                        	<span class="sr-only">60% Complete</span>
			                      	</div>
			                    </div>
	                   		</div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>