<link rel="stylesheet" href="css/perfil.css">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<div ng-controller="PerfilCtrl">
   <div class="container-fluid">
      <div class="col-md-12">
         <div style="padding: 0px" class="card card-user">
            <div class="image image-filter"></div>
            <div style="z-index: 99" class="content">
               <div class="author">
                  <img class="avatar" src="dash/img/faces/face-1.png" alt="..."/><br/>
                  <h6 class="title">Pontuação</h6>
                  <span style="color: #1dc7ea; font-size: 15px;">{{ mediaPontuacaoUsuario | number : 1}}</span><span style="color: #adadad; font-size: 15px;">/5.0</span> <br/>
                  <h4 class="text-info">
                     {{nomeUsuariod}}<br/>
                     <small class="sm">{{usernameUsuariod}}</small> |
                     <small class="sm">{{emailUsuariod}}</small>
                  </h4>
               </div>
               <p class="description text-center">
                  {{tipoUsuariod}}<br/>
                  {{cidadeUsuariod}} - {{estadoUsuariod}}<br/>
                  {{instituicaoUsuariod}} - {{cursoUsuariod}}
               </p>
            </div>
            <div style="padding: 10px;" class="row" ng-controller="excluirUsuarioCtrl">
            	<div class="col-md-4"></div>
               <div class="col-md-2">
                  <a style="width: 100%;" class="btn btn-info btn-fill pull-right" ng-show="idUsuairiod == UsuarioLogado" ui-sref="altPerfil" ui-sref-active="active">
                  Editar perfil
                  </a> 
               </div>
               <div class="col-md-2">
                  <button style="width: 100%" ng-click="ExcluirElemento()" class="btn btn-danger btn-fill pull-left" ng-show="idUsuairiod == UsuarioLogado">
                  Excluir perfil</button>
               </div>
               <div class="col-md-4"></div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
      	<div class="hab card">
	        <label style="color: #fff;" class="label label-primary">
	        Habilidades
	        </label>
	         <div class="habilidade">
	        		<div ng-repeat="habilidade in habilidades">
	        			<div>
	              		<label style="color: rgba(37, 50, 56, 1) !important;" class="text-info">{{habilidade.disciplina}}</label>
	              		 <div class="progress progress-line-primary">
	                   <div class="progress-bar" role="progressbar" aria-valuenow="{{divisao(habilidade.percentualDisciplina,habilidade.totalAvaliacoes)}}" aria-valuemin="0" aria-valuemax="100" style="width: {{divisao(habilidade.percentualDisciplina,habilidade.totalAvaliacoes)}}%;">
	                      <span class="sr-only">{{divisao(habilidade.percentualDisciplina,habilidade.totalAvaliacoes)}}% Complete</span>
	                   </div>
	                </div>
	           		</div>
	        		</div>               
	         </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="hab card">
               <label style="color: #fff;" class="label label-primary">
               Pontuação do usuário
               </label>
               <div class="habilidade">
               		<div ng-repeat="pontuacao in arrayPontuacao">
               			<div>
                     		<label style="color: rgba(37, 50, 56, 1) !important;"  class="text-info">{{pontuacao.item.nomeItem}}</label><br/>
							{{ pontuacao.pontuacaoItem | number : 1}}
                  		</div>
               		</div>               
               </div>
         </div>
      </div>
      <div class="col-md-12">
      	<div class="card">
           <label style="color: #fff;" class="label label-primary">
	       	Projetos concluídos de {{nomeUsuariod}}
	        </label><br/><br/>
    		<a ng-repeat="projeto in projetosUsuario | filter: {status: 'Concluído'}" ui-sref="pageDetalhesProjeto({idProjeto: {{projeto.idProjeto}} })" ui-sref-active="active">
               <div style="font-weight: bold; text-align: center; padding-top: 15px; height: 50px; color:#18a7c5; background: #c9e8ef; border: 2px solid #fff; border-radius: 5px;" class="col-md-4">{{projeto.nome}}</div>
            </a><br/>
         </div>
         </div>
         <div class="col-md-12">
      		<div class="card">
           <label style="color: #fff;" class="label label-primary">
	       	Comentarios sobre {{nomeUsuariod}} 
	        </label>
           <div ng-repeat="comentario in comentariosUsuario_Recebido">
                <a style="font-size:15px;" class="label label-primary" ui-sref="perfil({idUsuario: {{comentario.enviaComentario.idUsuario}} })" ui-sref-active="active">
                	<i class="fa fa-user" aria-hidden="true"></i> {{comentario.enviaComentario.usernameUsuario}}
                </a><br/>
                <a style="font-size:15px;" ui-sref="pageDetalhesProjeto({idProjeto: {{comentario.projetoComentario.idProjeto}} })" ui-sref-active="active">
                	{{comentario.projetoComentario.nome}}
                </a><br/>
           		<br/>
           		{{comentario.comentario}}<br/><br/>
           		<hr/>
           </div>
           </div>
   </div>
</div>