body
{
	font-family: 'Raleway', sans-serif !important;
}
@media screen and (min-width: 1281px)
{
	.head
	{
		float: left;
		width: 100%;
		height: 100vh;
		margin: 0px;
		background-attachment: fixed;
		background-image: url('http://i65.tinypic.com/szg6md.png');
		font-family: 'Raleway', Tahoma;
		background-color: #121d27;
	}
	.head .infohead
	{
		background-color: rgba(18, 29, 39, 0.8);
		width: 50%;
		height: 400px;
		margin-top: 100px;
		margin-left: 280px;
		padding: 50px;
		text-align: center;
	}
	.head .infohead #logo
	{
		width: 70%;
		height: 200px;
		margin-left: 80px;
	}
	.head .infohead #logo img
	{
		width: 100%;
	}
	.head .infohead p
	{
		margin-top: 20px;
		color: #fff;	
		font-size: 20px;
	}
	.head .infohead .btnRegistro
	{
		width: 400px;
		padding: 30px;
		background-color: #121d27;
		border: 2px solid #35ff99;
		color: #fff;
		font-weight: bold;
		border-radius: 20px;
		margin-top: 50px;
		font-size: 20px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.head .infohead .btnRegistro:hover
	{
		background-color: #35ff99;
		color: #121d27;
		border: 2px solid #121d27;
	}
	.projeto
	{
		float: left;
		height: 750px;
		width: 100%;
		padding-top: 80px;
		background-image:url('http://i65.tinypic.com/1zn94iv.png');
		font-family: 'kaleway', Tahoma;
	}
	.projeto .icon
	{
		font-size: 90px;
		color: #35ff99;
	}
	.projeto .aceitarIntegrantes
	{
		float: left;
		width: 35%;
		height: 250px;
		padding: 0px;
		text-align: center;
		color: #fff;
		margin-left: 180px;
	}
	.projeto .aceitarIntegrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .integrantes
	{
		float: left;
		width: 35%;
		height: 250px;
		padding: 0px;
		text-align: center;
		color: #fff;
	}
	.projeto .integrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .criarProjeto
	{
		float: left;
		width: 35%;
		height: 250px;
		padding: 0px;
		text-align: center;
		color: #fff;
		margin-left: 180px;
	}
	.projeto .criarProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .desenvolverProjeto
	{
		float: left;
		width: 35%;
		height: 250px;
		padding: 0px;
		text-align: center;
		color: #fff;
	}
	.projeto .desenvolverProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .concluirProjeto
	{
		float: left;
		width: 35%;
		height: 250px;
		padding: 0px;
		text-align: center;
		color: #fff;
		margin-left: 430px;
			
	}
	.projeto .concluirProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.login
	{
		float: left;
		width: 100%;
		height: 100vh;
		font-family: 'kaleway', Tahoma;
		background-attachment: fixed;
		background-image: url('http://i66.tinypic.com/16lwghu.png');
		background-repeat: repeat-x;
		background-color: #121d27;
		background-position: center;
	}
	.login div
	{
		width: 30%;
		height: 350px;
		margin-left: 450px;
		padding-left: 50px;
		padding-top: 100px;
		background-color: rgba(18, 29, 39, 0.8);
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.login label
	{
		background-color: #35ff99;
		font-size: 12px;
		border-radius: 3px;
		padding: 5px;
		color: rgba(18, 29, 39, 1);
	}
	.login input
	{
		width: 90%;
		height: 30px;
		margin-top: 10px;
		border-right: 0px;
		border-left: 0px;
		border-top: 0px;
		border-bottom: 1px solid #35ff99;
		padding: 0px;
		font-size: 15px;
		background-color: transparent;
		color: #fff;
	}
	.login div button
	{
		width: 90%;
		background-color: #121d27;
		border: 2px solid rgba(45, 52, 67, 1);
		color: #fff;
		padding: 8px;
		margin-top: 80px;
		border-radius: 5px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.login div button:hover
	{
		background-color: #35ff99;
		color: #121d27;
	}
}
@media screen and (min-width: 981px) and (max-width: 1280px)
{
	.head
	{
		float: left;
		width: 100%;
		height: 100vh;
		margin: 0px;
		padding-top: 80px;
		background-attachment: fixed;
		background-image: url('http://i65.tinypic.com/szg6md.png');
		background-repeat: no-repeat;
		font-family: 'Raleway', Tahoma;
		background-color: #121d27;
	}
	.head .infohead
	{
		background-color: rgba(18, 29, 39, 0.8);
		width: 50%;
		height: 400px;
		margin-top: 20px;
		margin-left: 250px;
		padding: 50px;
		text-align: center;
	}
	.head .infohead #logo
	{
		width: 70%;
		height: 200px;
		margin-left: 80px;
	}
	.head .infohead #logo img
	{
		width: 100%;
	}
	.head .infohead p
	{
		margin-top: 20px;
		color: #fff;	
		font-size: 20px;
	}
	.head .infohead .btnRegistro
	{
		width: 400px;
		padding: 30px;
		background-color: #121d27;
		border: 2px solid #35ff99;
		color: #fff;
		font-weight: bold;
		border-radius: 20px;
		margin-top: 50px;
		font-size: 20px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.head .infohead .btnRegistro:hover
	{
		background-color: #35ff99;
		color: #121d27;
		border: 2px solid #121d27;
	}
	.projeto
	{
		float: left;
		height: 780px;
		width: 100%;
		padding-top: 80px;
		background-image:url('http://i65.tinypic.com/1zn94iv.png');
		font-family: 'kaleway', Tahoma;
	}
	.projeto .icon
	{
		font-size: 84px;
		margin-top: 0px;
		color: #35ff99;
	}
	.projeto .aceitarIntegrantes
	{
		float: left;
		width: 35%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
		margin-left: 100px;
	}
	.projeto .aceitarIntegrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .integrantes
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-bottom: 70px;
		margin-left: 150px;
	}
	.projeto .integrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .criarProjeto
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-left: 100px;
	}
	.projeto .criarProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .desenvolverProjeto
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-bottom: 70px;
		margin-left: 150px;
	}
	.projeto .desenvolverProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .concluirProjeto
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-left: 400px;
			
	}
	.projeto .concluirProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.login
	{
		float: left;
		width: 100%;
		height: 100vh;
		font-family: 'kaleway', Tahoma;
		background-attachment: fixed;
		background-image: url('http://i66.tinypic.com/16lwghu.png');
		background-repeat: repeat-x;
		background-color: #121d27;
		background-position: center;
	}
	.login div
	{
		width: 35%;
		height: 350px;
		margin-left: 380px;
		padding-left: 50px;
		padding-top: 100px;
		background-color: rgba(18, 29, 39, 0.8);
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.login label
	{
		background-color: #35ff99;
		font-size: 12px;
		border-radius: 3px;
		padding: 5px;
		color: rgba(18, 29, 39, 1);
	}
	.login input
	{
		width: 90%;
		height: 30px;
		margin-top: 10px;
		border-right: 0px;
		border-left: 0px;
		border-top: 0px;
		border-bottom: 1px solid #35ff99;
		padding: 0px;
		font-size: 15px;
		background-color: transparent;
		color: #fff;
	}
	.login div button
	{
		width: 90%;
		background-color: #121d27;
		border: 2px solid rgba(45, 52, 67, 1);
		color: #fff;
		padding: 8px;
		margin-top: 80px;
		border-radius: 5px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.login div button:hover
	{
		background-color: #35ff99;
		color: #121d27;
	}
}
@media screen and (min-width: 781px) and (max-width: 980px)
{
	.head
	{
		float: left;
		width: 100%;
		height: 100vh;
		margin: 0px;
		padding-top: 80px;
		background-attachment: fixed;
		background-image: url('http://i65.tinypic.com/szg6md.png');
		background-repeat: no-repeat;
		background-position:center;
		font-family: 'Raleway', Tahoma;
		background-color: #121d27;
	}
	.head .infohead
	{
		background-color: rgba(18, 29, 39, 0.8);
		width: 65%;
		height: 400px;
		margin-top: 20px;
		margin-left: 100px;
		padding: 50px;
		text-align: center;
	}
	.head .infohead #logo
	{
		width: 70%;
		height: 200px;
		margin-left: 80px;
	}
	.head .infohead #logo img
	{
		width: 100%;
	}
	.head .infohead p
	{
		margin-top: 20px;
		color: #fff;	
		font-size: 20px;
	}
	.head .infohead .btnRegistro
	{
		width: 400px;
		padding: 30px;
		background-color: #121d27;
		border: 2px solid #35ff99;
		color: #fff;
		font-weight: bold;
		border-radius: 20px;
		margin-top: 50px;
		font-size: 20px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.head .infohead .btnRegistro:hover
	{
		background-color: #35ff99;
		color: #121d27;
		border: 2px solid #121d27;
	}
	.projeto
	{
		float: left;
		height: 780px;
		width: 100%;
		padding-top: 80px;
		background-image:url('http://i65.tinypic.com/1zn94iv.png');
		font-family: 'kaleway', Tahoma;
	}
	.projeto .icon
	{
		font-size: 84px;
		margin-top: 0px;
		color: #35ff99;
	}
	.projeto .aceitarIntegrantes
	{
		float: left;
		width: 35%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
		margin-left: 50px;
	}
	.projeto .aceitarIntegrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .integrantes
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-bottom: 70px;
		margin-left: 150px;
	}
	.projeto .integrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .criarProjeto
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-left: 50px;
	}
	.projeto .criarProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .desenvolverProjeto
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-bottom: 70px;
		margin-left: 150px;
	}
	.projeto .desenvolverProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .concluirProjeto
	{
		float: left;
		width: 35%;
		height: 200px;
		text-align: center;
		color: #fff;
		margin-left: 250px;
			
	}
	.projeto .concluirProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.login
	{
		float: left;
		width: 100%;
		height: 100vh;
		font-family: 'kaleway', Tahoma;
		background-attachment: fixed;
		background-image: url('http://i66.tinypic.com/16lwghu.png');
		background-color: #121d27;
		background-position: right;
	}
	.login div
	{
		width: 45%;
		height: 350px;
		margin-left: 210px;
		padding-left: 50px;
		padding-top: 100px;
		background-color: rgba(18, 29, 39, 0.8);
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.login label
	{
		background-color: #35ff99;
		font-size: 12px;
		border-radius: 3px;
		padding: 5px;
		color: rgba(18, 29, 39, 1);
	}
	.login input
	{
		width: 90%;
		height: 30px;
		margin-top: 10px;
		border-right: 0px;
		border-left: 0px;
		border-top: 0px;
		border-bottom: 1px solid #35ff99;
		padding: 0px;
		font-size: 15px;
		background-color: transparent;
		color: #fff;
	}
	.login div button
	{
		width: 90%;
		background-color: #121d27;
		border: 2px solid rgba(45, 52, 67, 1);
		color: #fff;
		padding: 8px;
		margin-top: 80px;
		border-radius: 5px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.login div button:hover
	{
		background-color: #35ff99;
		color: #121d27;
	}
}
@media screen and (min-width: 481px) and (max-width: 780px)
{
	.head
	{
		float: left;
		width: 100%;
		height: 100vh;
		margin: 0px;
		padding-top: 80px;
		background-attachment: fixed;
		background-image: url('http://i65.tinypic.com/szg6md.png');
		background-repeat: no-repeat;
		background-position:center;
		font-family: 'Raleway', Tahoma;
		background-color: #121d27;
	}
	.head .infohead
	{
		background-color: rgba(18, 29, 39, 0.8);
		width: 100%;
		height: 400px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.head .infohead #logo
	{
		width: 70%;
		height: 200px;
		margin-left: 80px;
	}
	.head .infohead #logo img
	{
		width: 100%;
	}
	.head .infohead p
	{
		margin-top: 20px;
		color: #fff;	
		font-size: 20px;
	}
	.head .infohead .btnRegistro
	{
		width: 400px;
		padding: 30px;
		background-color: #121d27;
		border: 2px solid #35ff99;
		color: #fff;
		font-weight: bold;
		border-radius: 20px;
		margin-top: 50px;
		font-size: 20px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.head .infohead .btnRegistro:hover
	{
		background-color: #35ff99;
		color: #121d27;
		border: 2px solid #121d27;
	}
	.projeto
	{
		float: left;
		height: 1200px;
		width: 100%;
		padding-top: 80px;
		background-image:url('http://i65.tinypic.com/1zn94iv.png');
		background-color: #2d3443;
		font-family: 'kaleway', Tahoma;
	}
	.projeto .icon
	{
		font-size: 94px;
		margin-top: 10px;
		color: #35ff99;
	}
	.projeto .aceitarIntegrantes
	{
		float: left;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .aceitarIntegrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .integrantes
	{
		float: left;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .integrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .criarProjeto
	{
		float: left;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .criarProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .desenvolverProjeto
	{
		float: left;
		width: 30%;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .desenvolverProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .concluirProjeto
	{
		float: left;
		width: 30%;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
			
	}
	.projeto .concluirProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.login
	{
		float: left;
		width: 100%;
		height: 100vh;
		font-family: 'kaleway', Tahoma;
		background-attachment: fixed;
		background-image: url('http://i66.tinypic.com/16lwghu.png');
		background-color: #121d27;
		background-position: center;
	}
	.login div
	{
		width: 65%;
		height: 350px;
		padding-left: 40px;
		padding-top: 100px;
		background-color: rgba(18, 29, 39, 0.8);
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.login label
	{
		background-color: #35ff99;
		font-size: 12px;
		border-radius: 3px;
		padding: 5px;
		color: rgba(18, 29, 39, 1);
	}
	.login input
	{
		width: 90%;
		height: 30px;
		margin-top: 10px;
		border-right: 0px;
		border-left: 0px;
		border-top: 0px;
		border-bottom: 1px solid #35ff99;
		padding: 0px;
		font-size: 15px;
		background-color: transparent;
		color: #fff;
	}
	.login div button
	{
		width: 90%;
		background-color: #121d27;
		border: 2px solid rgba(45, 52, 67, 1);
		color: #fff;
		padding: 8px;
		margin-top: 80px;
		border-radius: 5px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.login div button:hover
	{
		background-color: #35ff99;
		color: #121d27;
	}
}
@media screen and (max-width: 480px)
{
	.head
	{
		float: left;
		width: 100%;
		height: 100vh;
		margin: 0px;
		padding-top: 80px;
		background-attachment: fixed;
		background-image: url('http://i65.tinypic.com/szg6md.png');
		background-repeat: no-repeat;
		background-position:center;
		font-family: 'Raleway', Tahoma;
		background-color: #121d27;
	}
	.head .infohead
	{
		background-color: rgba(18, 29, 39, 0.8);
		width: 100%;
		height: 400px;
		text-align: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.head .infohead #logo
	{
		width: 100%;
		height: 200px;
	}
	.head .infohead #logo img
	{
		width: 100%;
	}
	.head .infohead p
	{
		margin-top: 20px;
		color: #fff;	
		font-size: 20px;
	}
	.head .infohead .btnRegistro
	{
		width: 100%;
		padding: 20px;
		background-color: #121d27;
		border: 2px solid #35ff99;
		color: #fff;
		font-weight: bold;
		border-radius: 20px;
		margin-top: 50px;
		font-size: 20px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.head .infohead .btnRegistro:hover
	{
		background-color: #35ff99;
		color: #121d27;
		border: 2px solid #121d27;
	}
	.projeto
	{
		float: left;
		height: 1250px;
		width: 100%;
		padding-top: 80px;
		background-image:url('http://i65.tinypic.com/1zn94iv.png');
		background-position: center;
		font-family: 'kaleway', Tahoma;
	}
	.projeto .icon
	{
		font-size: 84px;
		margin-top: 0px;
		color: #35ff99;
	}
	.projeto .aceitarIntegrantes
	{
		float: left;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .aceitarIntegrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .integrantes
	{
		float: left;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .integrantes h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .criarProjeto
	{
		float: left;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .criarProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .desenvolverProjeto
	{
		float: left;
		width: 30%;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
	}
	.projeto .desenvolverProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.projeto .concluirProjeto
	{
		float: left;
		width: 30%;
		width: 100%;
		height: 200px;
		margin-bottom: 50px;
		text-align: center;
		color: #fff;
			
	}
	.projeto .concluirProjeto h4
	{
		font-size: 24px;
		text-align: center;
		color: #35ff99;
		margin-bottom: 5px;
	}
	.login
	{
		float: left;
		width: 100%;
		height: 280px;
		font-family: 'kaleway', Tahoma;
		background-image: url('http://i65.tinypic.com/15hh45u.jpg');
		background-repeat: no-repeat;
	}
	.login div
	{
		width: 100%;
		height: 260px;
		padding-top: 20px;
		margin-left: 0px;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.login label
	{
		background-color: #2d3443;
		font-size: 12px;
		border-radius: 3px;
		padding: 5px;
		margin-left: 5px;
		margin-top: 10px;
		color: #fff;
	}
	.login input
	{
		width: 90%;
		height: 30px;
		margin-top: 10px;
		margin-left: 5px;
		border-right: 0px;
		border-left: 0px;
		border-top: 0px;
		border-bottom: 1px solid #35ff99;
		padding: 0px;
		font-size: 15px;
		background-color: transparent;
		color: #fff;
	}
	.login div button
	{
		width: 100%;
		background-color: rgba(45, 52, 67, 0.6);
		border: 2px solid rgba(45, 52, 67, 1);
		color: #fff;
		padding: 8px;
		margin-top: 25px;
		border-radius: 5px;
	}
	.login div button:hover
	{
		background-color: rgba(45, 52, 67, 1);
	}.login
	{
		float: left;
		width: 100%;
		height: 100vh;
		font-family: 'kaleway', Tahoma;
		background-attachment: fixed;
		background-image: url('http://i66.tinypic.com/16lwghu.png');
		background-color: #121d27;
		background-position: bottom;
	}
	.login div
	{
		width: 90%;
		height: 350px;
		padding-left: 35px;
		padding-top: 100px;
		background-color: rgba(18, 29, 39, 0.8);
		border-bottom-right-radius: 50px;
		border-bottom-left-radius: 50px;
	}
	.login label
	{
		background-color: #35ff99;
		font-size: 12px;
		border-radius: 3px;
		padding: 5px;
		color: rgba(18, 29, 39, 1);
	}
	.login input
	{
		width: 90%;
		height: 30px;
		margin-top: 10px;
		border-right: 0px;
		border-left: 0px;
		border-top: 0px;
		border-bottom: 1px solid #35ff99;
		padding: 0px;
		font-size: 15px;
		background-color: transparent;
		color: #fff;
	}
	.login div button
	{
		width: 90%;
		background-color: #121d27;
		border: 2px solid rgba(45, 52, 67, 1);
		color: #fff;
		padding: 8px;
		margin-top: 80px;
		border-radius: 5px;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.login div button:hover
	{
		background-color: #35ff99;
		color: #121d27;
	}
}

