html, body
{
	top: 0px;
	margin: 0px;
	font-family: 'Raleway';
	background-position: center;
	background-image: url('http://i63.tinypic.com/nb3s78.png');
}
header
{
	top: 0px;
	margin: 0px;
	width: 100%;
	height: 60px;
	background-color: #0b1117;
}
header #menu
{
	float: left;
	list-style: none;
	text-decoration: none;
	color: #fff;
	margin-top: 5px;
}
header #menu li
{
	display: inline-block;
	padding: 10px;
	font-size: 20px;
}
header #menu li a
{
	text-decoration: none;
	color: #fff;
}
	header #menu li a:hover
	{
		text-decoration: none;
		color: #35ff99;
	}
#menu img
{
	width: 80px;
}
.panel
{
	border: 0px;
	background-color: rgba(18, 29, 39, 0.0);
	height: 400px;
}
	.btnAcao
	{
		width: 100%;
		background-color: #121d27 !important;
		color: #fff !important;
		-webkit-transition:All 0.3s ease; 
		-moz-transition:All 0.3s ease; 
		-o-transition:All 0.3s ease;
	}
	.btnAcao:hover
	{
		background-color: #35ff99 !important;
		color: #121d27 !important;
	}
	.acaoCadastroConcluir
	{
		width: 50%;
		height: auto;
		float: left;
		padding: 20px;
		margin-bottom: 20px;
	}
	.acaoCadastroCancelar
	{
		width: 50%;
		height: auto;
		float: left;
		padding: 20px;
		margin-bottom: 20px;
	}
	.label
	{
		background-color: #11161c !important;
		color: #fff !important;
		font-size: 12px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	}
.rodape
{
	clear: both;
	width: 100%;
	height: 150px;
	background-color: #121d27;
	color: #fff;
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.rodape p
{
	margin-top: 20px;
}
@media screen and (min-width: 769px)
{
	.panel
	{
		padding-top: 10px;
		background-color: rgba(18, 29, 39, 0.0);
		border: 0px;
		border-radius: 0px;
		height: 400px;
	}
	.panel-heading
	{
		color: #fff !important;
		background-color: #383838 !important;
		border-radius: 0px;
	}
	.campos
	{
		margin-left: auto;
		margin-right: auto;
		width: 80%
	}
	.campos_cadastro01
	{
		width: 50%;
		height: auto;
		float: left;
		padding: 20px;
	}
	.campos_cadastro02
	{
		width: 50%;
		height: auto;
		float: left;
		padding: 20px;
		padding-top: 94px;
	}
	.btnAcao
	{
		width: 100%;
		background-color: #D6D6D6;
		color: #0B173B;
	}
	.acaoCadastroConcluir
	{
		width:50%;
		height: auto;
		float: left;
		padding: 20px;
		margin-bottom: 30px;
	}
	.acaoCadastroCancelar
	{
		width: 50%;
		height: auto;
		float: left;
		padding: 20px;
		margin-bottom: 20px;
	}
}