.header
{
	background: linear-gradient(60deg, #253238, #253238);
	border-radius: 4px;
	text-align: center;
  	box-shadow: 0 12px 20px -10px rgba(37, 50, 56, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(37, 50, 56, 0.2);
}
.sombra
{
	border: 1px solid #1dc7ea;
	box-shadow: 0 12px 20px -10px rgba(37, 50, 56, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(37, 50, 56, 0.2);
}
#sombra
{
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	margin: 20px;
	padding: 20px;
}
.p
{
	font-size: 20px !important;
	font-weight: normal !important;
	font-family: tahoma;
}
.text-default
{
	color: #253238 !important;
	padding: 10px;
}
.label-primary, .label-default, .label-info, .label-success,.label-warning, .label-danger
{
	color: #fff !important;
}
.tarefa
{
	box-shadow: 0 12px 20px -10px rgba(37, 50, 56, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(37, 50, 56, 0.2);
	padding: 10px;
}
.criarTarefa
{
	padding: 20px;
	box-shadow: 0 12px 20px -10px rgba(37, 50, 56, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(37, 50, 56, 0.2);
}
.backTarefa
{
	border: 0px solid #3472f7;
	border-radius: 8px;
	padding: 10px !important;
	box-shadow: 0 12px 20px -10px rgba(37, 50, 56, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(37, 50, 56, 0.2);
	margin-top: 15px;
}
.padding
{
	padding: 10px;
}
#card-content
{
	padding: 10px;
	max-height: 200px;
	overflow-y: auto;
}
 .createpopup{
   display: none;
   }
   .createpopup-true{
   display: block;
   }
   .createpopup-false{
   display: none;
   }   
   .editpopup{
   display:none;
   }
   .editpopup-true{
   display: block;
   }
   .editpopup-false{
   display: none;
   }
   .panel-heading {
   background-color: #11161c!important;
   color: #fff!important;
   border: 1px solid #ddd!important;}
   .panel-info {
   border-color: #ddd!important;
   }
   .organizador-true{
   display: block;
   }
   .organizador-false{
   display: none;
   }
   .participante-true{
   display: block;
   }
   .participante-false{
   display: none;
   }
   .avaliado-true{
   display: block;
   }
   .avaliado-false{
   display: none;
   }
   #h4
{
	background: transparent;
	border-bottom: 1px solid #dcdcdc;
}
#candidatos
{
	border-top: 1px solid #dcdcdc;
}
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  padding: 15px;
}