.logo img
{
	width: 70px;
}
.section {
  padding: 50px 0;
  position: relative;
  background-color: #FFFFFF;
}
.section .title-area {
  max-width: 760px;
  margin: 0 auto 70px;
  display: block;
  padding: 0 15px;
  text-align: center;
}
.section .title-area .description {
  font-size: 16px;
  color: #777777;
}
.section [class*="col-"] .title-area {
  padding: 0;
}
.section i
{
	font-size: 100px;
	color: #81c9c3;
}
.col-md-6
{
	text-align: center;
}
#section
{
	background-color: #3a464c;
	min-height: 100px;
	color: #fff;
	text-align: center;
}
#section img
{
	width: 150px;
}
footer
{
	background-color: #253238;
	color: #ffffff;
}