.alert-default
{
	border: 1px solid #1dc7ea;
	border-radius: 8px;
}
#icon
{
	color: #1dc7ea;
}
#alert:hover
{
	box-shadow: 0 10px 30px -12px rgba(29, 199, 234, 0.22), 0 4px 25px 0px rgba(29, 199, 234, 0.12), 0 8px 10px -5px rgba(29, 199, 234, 0.2);
}
.card-content
{
	max-height: 254px;
	overflow-y: auto;
	padding: 10px;
}
.card {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 25px 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border-radius: 3px;
  color: rgba(0,0,0, 0.87);
  background: #fff;
  padding: 15px;
}