input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../dash/img/search.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 10px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}
.label-default
{
	background-color: #ccc;
	margin-left: 5px;
	font-size: 10px !important;
	color: #808080!important;
	font-weight: bold;
}
#card:hover
{
	box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.22), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}