.slicknav_menu {
	display:none;
	font-family: 'Raleway', Tahoma;
}

@media screen and (max-width: 781px) {
	.js #menu {
		display:none;
			font-family: 'Raleway', Tahoma;
		z-index: 999;
	}
	
	.js .slicknav_menu {
		display:block;
			font-family: 'Raleway', Tahoma;
	}
}