<!doctype html>
<html>
<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet"> 
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/slicknav.css">
		<link rel="stylesheet" href="css/externo/inicial.css">
		<link rel="stylesheet" href="css/principal.css">
		<link rel="stylesheet" href="css/reset.css">
		
		<!-- Sweet Alert -->
		<link rel="stylesheet" href="css/sweetalert.css">
		
		<title>WECAN</title>
</head>
<body ng-app='app'>
		<header>
			<ul id="menu">	
				<li><a href="http://localhost:8080/ProjetoPAP/register.html"><i style="font-size: 18px;" class="fa fa-user-plus" aria-hidden="true"></i> Cadastre-se</a></li>
				<li><a href="#login"><i style="font-size: 18px;" class="fa fa-user-circle" aria-hidden="true"></i> Login</a></li>
			</ul>
		</header>
		<div class="head">
			<div class="infohead">
				<div id="logo">
					<img src="http://i63.tinypic.com/ofxbuw.png"/> 
				</div>
				<p>Registre-se e encontre pessoas qualificadas para a sua equipe.</p>
				<a href="http://localhost:8080/ProjetoPAP/register.html">
					<button class="btnRegistro">Crie sua conta</button>
				</a>
			</div>
		</div>
	<div class="projeto">
			<div class="aceitarIntegrantes">
				<h4>Encontre membros para seu projeto</h4>
				<p>Escolha membros com mais habilidades</p>
				<p>e pontuação para sua equipe.</p>
				<i class="fa fa-user-plus icon" aria-hidden="true"></i>
			</div>
			<div class="integrantes">
				<h4>Trabalhe com a melhor equipe</h4>
				<p>Desenvolva projetos com pessoas capacitadas</p>
				<p>e com o mesmo objetivo.</p>
				<i class="fa fa-users icon" aria-hidden="true"></i>
			</div>
			<div class="criarProjeto">
				<h4>Crie um projeto</h4>
				<p>Você pode criar quantos projetos quiser,</p>
				<p>sobre o assunto que preferir.</p>
				<i class="fa fa-area-chart icon" aria-hidden="true"></i>
			</div>
			<div class="desenvolverProjeto">
				<h4>Desenvolva e gerencie</h4>
				<p>Desenvolva seu projeto com efiência</p>
				<p>e gerencie as atividades necessárias.</p>
				<i class="fa fa-cogs icon" aria-hidden="true"></i>
			</div>
			<div class="concluirProjeto">
				<h4>Conclua seu projeto</h4>
				<p>Tenha seu trabalho concluído no tempo previsto</p>
				<p>e com a qualidade desejada.</p>
				<i class="fa fa-check icon" aria-hidden="true"></i>
			</div>
		</div>
		<div id="login" class="login" ng-controller="loginCtrl">
			<div>
				<label for="username" class="label">USERNAME</label>
				<p><input id="username" type="text" placeholder="Informe seu username" ng-model="usernameLogin"/></p>
				<br/><br/>
				<label for="password" class="label">PASSWORD</label>
				<p><input id="password" type="password" placeholder="**********" ng-model="senhaUsername"/></p><br/>
				<a style="color: #fff; float: right; padding-right: 50px; font-size: 12px;" href="#">Esqueceu a sua senha/username?</a><br/>
				<button type="submit" ng-click="ValidarLogin()">ENTRAR</button>
			</div>
		</div>
		<div class="rodape">
			<p>Plataforma criada para a finalização do curso superior de Análise e Desenvolvimento de Sistemas.</p>
			<p>©2017 Wecan</p>
		</div>
		<script src="js/jquery-3.2.0.min.js"></script>
		<script src="js/principal.js"></script>
		<script src="js/modernizr.js"></script>
		<script src="js/ancora.js"></script>
		<script src="https://use.fontawesome.com/2af5f88198.js"></script>
		<script src="js/jquery.slicknav.js"></script>
		<script type="text/javascript">
			$(document).ready(function()
			{
				$('#menu').slicknav();
			});
		</script>
		
		<!-- Libs angular.js -->
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
		<script type="text/javascript" src="js/angular-ui-router.js"></script>
		
		<!-- javaScript controllers Angular -->
		<script type="text/javascript" src="js/app.js"></script>
		<script src="js/controllers/loginController.js"></script>
		
		<!-- Sweet Alert -->
		<script src="js/sweetalert.min.js"></script>
</body>
</html>