<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <link rel="icon" type="image/png" href="dash/img/favicon.ico">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="css/home.css" rel="stylesheet">
      <link rel="stlesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"/>
      <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
      <link href="assets/css/material-kit.css" rel="stylesheet"/>
      <link rel="stylesheet" type="text/css" href="engine1/style.css" />
	  <script type="text/javascript" src="engine1/jquery.js"></script>
      <!-- sweet alert -->
      <link rel="stylesheet" href="css/sweetalert.css">
      <title>Wecan</title>
   </head>
   <body ng-app='app'>
      <div class="index-page">
         <nav class="navbar navbar-transparent navbar-fixed-top navbar-color-on-scroll">
            <div class="container">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-index">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  </button>
                  <a id="logo" href="javascript:void(0)" onclick="scrollToHome()">
                     <div class="logo-container">
                        <div class="logo">
                           <img src="http://i68.tinypic.com/ojnt3r.png" alt="Wecan logo" rel="tooltip" title="<b>Wecan</b>, plataforma ágil na criação de projetos universitários." data-placement="bottom" data-html="true">
                        </div>
                     </div>
                  </a>
               </div>
               <div class="collapse navbar-collapse" id="navigation-index">
                  <ul class="nav navbar-nav navbar-right">
                  	<li>
                        <a href="javascript:void(0)" onclick="scrollToComofazer()">
                        <i class="material-icons">done</i> Como fazer
                        </a>
                     </li>
                     <li>
                        <a href="javascript:void(0)" onclick="scrollToSobre()">
                        <i class="material-icons">chat</i> Sobre
                        </a>
                     </li>
                     <li>
                        <a href="javascript:void(0)" onclick="scrollToLogin()">
                        <i class="material-icons">account_box</i> Login
                        </a>
                     </li>
                     <li class="active" ng-controller="HomePageCtrl">
                        <a ng-click="carregarPaginaRegister()" href="">
                        <i class="material-icons">person_add</i> Cadastre-se
                        </a>
                     </li>
                     
                  </ul>
               </div>
            </div>
         </nav>
           <div class="wrapper" id="home">
           <div class="header header-filter" style="background-image: url('http://i66.tinypic.com/96xi0o.jpg'); background-attachment: fixed;">
              <div class="container">
                 <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                       <div class="brand" ng-controller="HomePageCtrl">
                          <h1>WECAN</h1>
                         <h3><b>Plataforma</b> ágil na criação de projetos universitários.</h3>
                          <a ng-click="carregarPaginaRegister()" href="" class="btn btn-primary btn-lg">Crie sua conta</a>
                      </div>
                   </div>
                </div>
              </div>
      </div>
      </div>
      </div>
      <div id="comofazer">
	      <div class="section" id="section">
	         <div class="container">
	            <div class="col-md-12">
	            	<div class="col-md-8" style="padding: 0px;">
	            		<!-- Start WOWSlider.com BODY section -->
						<div id="wowslider-container1">
						<div class="ws_images"><ul>
								<li><img src="data1/images/bnt1.png" alt="" title="" id="wows1_0"/></li>
								<li><img src="data1/images/btn2.png" alt="" title="" id="wows1_1"/></li>
								<li><img src="data1/images/btn3.png" alt="" title="" id="wows1_2"/></li>
								<li><a href="http://wowslider.net"><img src="data1/images/btn4.png" alt="http://wowslider.net/" title="" id="wows1_3"/></a></li>
								<li><img src="data1/images/btn5.png" alt="" title="" id="wows1_4"/></li>
							</ul></div>
							<div class="ws_thumbs">
						<div>
								<a href="#" title=""><img src="data1/tooltips/bnt1.png" alt="" /></a>
								<a href="#" title=""><img src="data1/tooltips/btn2.png" alt="" /></a>
								<a href="#" title=""><img src="data1/tooltips/btn3.png" alt="" /></a>
								<a href="#" title=""><img src="data1/tooltips/btn4.png" alt="" /></a>
								<a href="#" title=""><img src="data1/tooltips/btn5.png" alt="" /></a>
							</div>
						</div>
						<div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">image slider</a> by WOWSlider.com v8.7</div>
						<div class="ws_shadow"></div>
						</div>	
						<script type="text/javascript" src="engine1/wowslider.js"></script>
						<script type="text/javascript" src="engine1/script.js"></script>
						<!-- End WOWSlider.com BODY section -->
	            	</div>
	            	<div class="col-md-4">
	            		<div class="info-icon" ng-controller="HomePageCtrl">
		                  <div class="icon text-danger">
		                     <i class="pe-7s-note2"></i>
		                  </div>
		                  <img src="http://i64.tinypic.com/k450l.png"/>
		                  <h3>Encontre pessoas qualificadas para a sua equipe.</h3>
		                  <p class="description">A Wecan te ajuda a encontrar membros interessados e dedicados, chegando no seu resultado final com qualidade.</p>
		                  <a ng-click="carregarPaginaRegister()" href="" class="btn btn-primary btn-lg">Crie sua conta</a>
		               	</div>
	            	</div>
	            </div>
	         </div>
	      </div>
      </div>
      <div class="section" id="sobre">
         <div class="container">
            <div class="row">
               <div class="title-area">
                  <h2>Crie projetos</h2>
                  <i class="material-icons">add_to_queue</i>
                  <p class="description">Você pode criar quantos projetos quiser, sobre o assunto que preferir.</p>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div class="info-icon">
                     <div class="icon text-danger">
                        <i class="pe-7s-graph1"></i>
                     </div>
                     <h3>Encontre membros</h3>
                     <i class="material-icons">group_add</i>
                     <p class="description">Escolha membros com mais habilidades e pontuação para sua equipe.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="info-icon">
                     <div class="icon text-danger">
                        <i class="pe-7s-note2"></i>
                     </div>
                     <h3>Trabalhe com a melhor equipe</h3>
                     <i class="material-icons">group_work</i>
                     <p class="description">Desenvolva projetos com pessoas capacitadas e com o mesmo objetivo.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="info-icon">
                     <div class="icon text-danger">
                        <i class="pe-7s-note2"></i>
                     </div>
                     <h3>Desenvolva e gerencie</h3>
                     <i class="material-icons">poll</i>
                     <p class="description">Desenvolva seu projeto com efiência e gerencie as atividades necessárias.</p>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="info-icon">
                     <div class="icon text-danger">
                        <i class="pe-7s-note2"></i>
                     </div>
                     <h3>Conclua seus projetos</h3>
                     <i class="material-icons">assignment_turned_in</i>
                     <p class="description">Tenha seu projeto concluído no tempo previsto e com a qualidade desejada.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="signup-page" id="login">
         <div class="wrapper">
            <div class="header header-filter" style="background-image: url('http://i65.tinypic.com/34q1ixv.jpg'); background-size: cover; background-position: top center; background-attachment: fixed;">
               <div class="container">
                  <div class="row">
                     <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <div class="card card-signup">
                           <form ng-controller="loginCtrl" class="form">
                              <div class="header header-primary text-center">
                                 <h4>Entre com sua conta</h4>
                              </div>
                              <div class="content">
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                    </span>
                                    <input ng-model="usernameLogin" type="text" class="form-control" placeholder="Username..." required>
                                 </div>
                                 <div class="input-group">
                                    <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                    </span>
                                    <input ng-model="senhaUsername" type="password" placeholder="Senha..." class="form-control" required/>
                                 </div>
                              </div>
                              <div class="footer text-center">
                                 <button ng-click="ValidarLogin()" class="btn btn-simple btn-primary btn-lg">Entrar</button>
                              </div>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <footer class="footer">
         <div class="container">
            <div class="copyright pull-left">
               <i class="material-icons">dashboard</i> Plataforma desenvolvida pela equipe do curso de análise e desenvolvimento de sistemas.
            </div>
            <div class="copyright pull-right">
               &copy; 2017, WECAN.
            </div>
         </div>
      </footer>
      <!--   Core JS Files   -->
      <script src="assets/js/jquery.min.js" type="text/javascript"></script>
      <script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="assets/js/material.min.js"></script>
      <!-- Control Center for Material Kit: activating the ripples, parallax effects, scripts from the example pages etc -->
      <script src="assets/js/material-kit.js" type="text/javascript"></script>
      <script src="https://use.fontawesome.com/2af5f88198.js"></script>
      <!-- Libs angular.js -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-cookies.js"></script>
      <script type="text/javascript" src="js/angular-ui-router.js"></script>
      <!-- javaScript controllers Angular -->
      <script type="text/javascript" src="js/app.js"></script>
      <script src="js/controllers/loginController.js"></script>
      <script src="js/controllers/homepageController.js"></script>
      <!-- Sweet Alert -->
      <script src="js/sweetalert.min.js"></script>
      <script type="text/javascript">
         $().ready(function(){
         	// the body of this function is in assets/material-kit.js
         	//materialKit.initSliders();
         
         	window_width = $(window).width();
         
         	if (window_width >= 992){
         		big_image = $('.wrapper > .header');
         
         		$(window).on('scroll', materialKit.checkScrollForParallax);
         	}
         
         });
         
         function scrollToLogin(){
         	$("html, body").animate({
         		scrollTop: $('#login').offset().top
         	},1000);
         }
         
         function scrollToSobre(){
         	$("html, body").animate({
         		scrollTop: $('#sobre').offset().top
         	},1000);
         }
         
         function scrollToHome(){
         	$("html, body").animate({
         		scrollTop: $('#home').offset().top
         	},1000);
         }
         
         function scrollToComofazer(){
          	$("html, body").animate({
          		scrollTop: $('#comofazer').offset().top
          	},1000);
          }
      </script>
   </body>
</html>