body
{
	font-family: 'Raleway';
	background-color: #fff;
}
.identificacao
{
	margin-top: 10px;
	margin-bottom: 0px;
	border-top: 5px solid rgba(18, 29, 39, 1);
	color: #fff;
	text-align: center;
	font-size: 15px;
	background-color: #2c3b46;
	padding: 5px;
	margin-bottom: 10px;
}
#projeto
{
	margin-bottom: 10px;
}
.projetoInf
{
	-webkit-box-shadow: 10px 10px 3px -4px rgba(0,0,0,0.28);
	-moz-box-shadow: 10px 10px 3px -4px rgba(0,0,0,0.28);
	box-shadow: 10px 10px 3px -4px rgba(0,0,0,0.28);
}
@media screen and (min-width: 781px)
{
	#projeto
	{
		margin-top: -7px;
		color: #fff;
		text-align: center;
		font-size: 15px;
		background-color: #2c3b46;
		padding: 5px;
		border-top: 5px solid rgba(18, 29, 39, 1);
	}
	.search
	{
		padding-left: 30px;
		float: left;
		width: 60%;
		margin-bottom: 10px;
		color: #aaa9a7;
		margin-top: 20px;
	}
	.search input[type="text"]
	{
    	width: 130px;
    	height: 40px;
    	-webkit-transition: width 0.4s ease-in-out;
    	transition: width 0.4s ease-in-out;
    	border: 2px solid #aaa9a7;
    	border-radius: 5px;
    	padding-left: 10px;
    }
    .search input[type="text"]:focus
	{
    	width: 80%;
    }
	.listarProjetos
	{
		margin-top: 0px;
		float: left;
		width: 100%;
		height: auto;
		margin-bottom: 20px;
	}
	.panelcriar
	{
		width: 100%;
		float: left;
		height: auto;
		border: 0px;
		padding: 0px;
		border-radius: 0px;
	}
	.projetoInf
	{
		padding-top: 20px;
		padding-bottom: 30px;
		padding-left: 30px;
		float: left;
		width: 100%;
		height: 200px;
		background: rgba(18, 29, 39, 1);
		border-radius: 20px;
		
	}
	.projetoInf .integrantes
	{
		float: left;
		width: 100px;
		height: 100px;
		text-align: center;
		border: 3px solid rgba(53, 255, 153, 1);
		padding-top: 30px;
		margin-top: 30px;
		border-radius: 100px;
		color: #e6a557;
	}
	.projetoDesc
	{
		padding-top: 10px;
		float: left;
		width: 80%;
		height: auto;
		margin-left: 5px;
	}
	.projetoDesc #titulo
	{
		text-decoration: none;
		font-size: 30px;
		color: rgba(53, 255, 153, 1);
		margin-right: 30px;
		margin-left: 20px;
	}
	.projetoDesc #titulo:hover
	{
		text-decoration: underline;
	}
	.projetoDesc label
	{
		font-size: 15px;
		padding: 10px;
		color: #979797;
		margin-left: 20px;
	}
	.projetoDesc #desc
	{
		padding: 5px;
		margin-top: 5px;
		height: 50px;
		margin-left: 20px;
		width: 100%;
		overflow: auto;
		color: #fff;
		font-size: 15px;
		border-radius: 10px;
	}
	#criarProjeto
	{
		float: right;
		font-size: 50px;
		color: #e6a557;
		margin-right: 20px;
		margin-top: 20px;
	}
}
@media screen and (min-width: 481px) and (max-width: 780px)
{
	#projeto
	{
		margin-top: -105px;
		color: rgba(18, 29, 39, 1);
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		background-color: #2c3b46;
		padding: 5px;
		border-top: 5px solid rgba(18, 29, 39, 1);
	}
	.search
	{
		padding-left: 30px;
		float: left;
		width: 60%;
		margin-bottom: 10px;
		color: #aaa9a7;
	}
	.search input[type="text"]
	{
    	width: 130px;
    	height: 40px;
    	-webkit-transition: width 0.4s ease-in-out;
    	transition: width 0.4s ease-in-out;
    	border: 2px solid #aaa9a7;
    	border-radius: 5px;
    	padding-left: 10px;
    }
    .search input[type="text"]:focus
	{
    	width: 80%;
    }
	.listarProjetos
	{
		margin-top: 50px;
		float: left;
		width: 100%;
		height: auto;
	}
	.panelcriar
	{
		width: 100%;
		float: left;
		height: auto;
		border: 0px;
		padding: 0px;
		border-radius: 0px;
	}
	.projetoInf
	{
		padding-top: 30px;
		padding-bottom: 30px;
		float: left;
		width: 100%;
		height: auto;
		background: rgba(18, 29, 39, 1);
		border-radius: 20px;
		border-top: 10px solid #2c3b46;
	}
	.projetoInf .integrantes
	{
		float: left;
		width: 100px;
		height: 100px;
		text-align: center;
		border: 3px solid rgba(53, 255, 153, 1);
		padding-top: 30px;
		border-radius: 100px;
		margin-left: 40%;
		color: #e6a557;
	}
	.projetoDesc
	{
		padding-top: 10px;
		float: left;
		width: 100%;
		height: auto;
		text-align: center;
	}
	.projetoDesc #titulo
	{
		text-decoration: none;
		font-size: 20px;
		color: rgba(53, 255, 153, 1);
		margin-right: 30px;
		margin-left: 10px;
	}
	.projetoDesc #titulo:hover
	{
		text-decoration: underline;
	}
	.projetoDesc label
	{
		font-size: 15px;
		color: #979797;
		margin-right: 20px;
		padding: 5px;
	}
	.projetoDesc #desc
	{
		padding: 5px;
		margin-top: 5px;
		height: 50px;
		width: 100%;
		overflow: auto;
		color: #fff;
		font-size: 15px;
		border-radius: 10px;
	}
	#criarProjeto
	{
		float: right;
		font-size: 50px;
		color: #e6a557;
		margin-right: 20px;
	}
}
@media screen and (max-width: 480px)
{
	#projeto
	{
		margin-top: -105px;
		color: rgba(18, 29, 39, 1);
		text-align: center;
		font-size: 15px;
		font-weight: bold;
		background-color: #2c3b46;
		padding: 5px;
		border-top: 5px solid rgba(18, 29, 39, 1);
	}
	.search
	{
		padding-left: 30px;
		float: left;
		width: 80%;
		margin-bottom: 10px;
		color: #aaa9a7;
	}
	.search input[type="text"]
	{
    	width: 130px;
    	height: 40px;
    	-webkit-transition: width 0.4s ease-in-out;
    	transition: width 0.4s ease-in-out;
    	border: 2px solid #aaa9a7;
    	border-radius: 5px;
    	padding-left: 10px;
    }
    .search input[type="text"]:focus
	{
    	width: 80%;
    }
	.listarProjetos
	{
		margin-top: 50px;
		float: left;
		width: 100%;
		height: auto;
	}
	.panelcriar
	{
		width: 100%;
		float: left;
		height: auto;
		border: 0px;
		padding: 0px;
		border-radius: 0px;
		margin-bottom: 0px;
		background: rgba(18, 29, 39, 0);
	}
	.projetoInf
	{
		padding-top: 30px;
		padding-bottom: 30px;
		float: left;
		width: 100%;
		height: auto;
		background: rgba(18, 29, 39, 1);
		border-radius: 20px;
		border-top: 10px solid #2c3b46;
	}
	.projetoInf .integrantes
	{
		float: left;
		width: 100px;
		height: 100px;
		text-align: center;
		border: 3px solid rgba(53, 255, 153, 1);
		padding-top: 30px;
		border-radius: 100px;
		margin-left: 35%;
		color: #e6a557;
	}
	.projetoDesc
	{
		padding-top: 10px;
		float: left;
		width: 100%;
		height: auto;
		text-align: center;
	}
	.projetoDesc #titulo
	{
		text-decoration: none;
		font-size: 20px;
		color: rgba(53, 255, 153, 1);
		margin-right: 30px;
		margin-left: 10px;
	}
	.projetoDesc #titulo:hover
	{
		text-decoration: underline;
	}
	.projetoDesc label
	{
		font-size: 15px;
		color: #979797;
		margin-right: 20px;
		padding: 5px;
	}
	.projetoDesc #desc
	{
		padding: 5px;
		margin-top: 5px;
		height: 50px;
		width: 100%;
		overflow: auto;
		color: #fff;
		font-size: 15px;
		border-radius: 10px;
	}
	#criarProjeto
	{
		float: right;
		font-size: 50px;
		color: #e6a557;
		margin-right: 20px;
	}
}