.notificacao
{
	width: 100%;
	height: auto;
	background-color: rgba(18, 29, 39, 0.9);
	padding: 20px;
	margin-bottom: 10px;
	border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.notificacao td
{
	width: 30%;
	text-align: center;
	padding: 10px;
}
.notificacao span
{
	color: #fff;
}
.notificacao a
{
	text-decoration: none;
	color: #35ff99;
}
.notificacao a:hover
{
	text-decoration: underline;
}