@media screen and (min-width: 781px)
{
	.perfil
	{
		float: left;
		width: 100%;
		height: 100vh;
	}
	.perfil .progress
	{
		width: 100%;
	}
	.perfil .hab
	{
		float: left;
		padding-top: 50px;
		margin-top: -10px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		width: 30%;
		height: 100vh;
		overflow: auto;
		background-color: rgba(18, 29, 39, 0.9);
	}
	.perfil .hab .label
	{
		padding: 0px;
		font-size: 20px;
		font-weight: normal;
		text-align: center;
		color: rgba(53, 255, 153, 1);
	}
	.perfil .hab p
	{
		margin-top: 30px;
		margin-bottom: 5px;
		color: #fff;
	}
	.perfil .info
	{
		padding-top: 60px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		float: right;
		width: 70%;
		height: 100vh;
		overflow: auto;
	}
	.perfil .info .panel
	{
		border: 0px;
	}
	.perfil .info .campos_perfil01
	{
		float: left;
		width: 40%;
	}
	.perfil .info .campos_perfil02
	{
		float: right;
		width: 50%;
	}
	.perfil .acaoEditar
	{
		float: left;
		width: 50%;
		margin-bottom: 50px;
	}
	.perfil .acaoExcluir
	{
		float: right;
		width: 50%;
		margin-bottom: 50px;
	}
	.perfil .info .text
	{
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.perfil .info .label
	{
		background-color: rgba(18, 29, 39, 1);
	}
	.info .img
	{
		width: 200px;
		height: 200px;
		margin-bottom: 20px;
		border-radius: 10px;
	}
	.info img
	{
		width: 100%;
		border-radius: 10px;
	}
}
@media screen and (min-width: 481px) and (max-width: 780px)
{
	.perfil
	{
		float: left;
		width: 100%;
		height: 100vh;
	}
	.perfil .progress
	{
		width: 100%;
	}
	.perfil .hab
	{
		float: left;
		padding-top: 80px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		width: 100%;
		height: 400px;
		overflow: auto;
		background-color: rgba(18, 29, 39, 0.9);
	}
	.perfil .hab .label
	{
		padding: 0px;
		font-size: 20px;
		font-weight: normal;
		text-align: center;
		color: rgba(53, 255, 153, 1);
	}
	.perfil .hab p
	{
		margin-top: 30px;
		margin-bottom: 5px;
		color: #fff;
	}
	.perfil .info
	{
		padding-top: 60px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		float: right;
		width: 100%;
		height: 100vh;
		overflow: auto;
	}
	.perfil .info .panel
	{
		border: 0px;
	}
	.perfil .info .campos_perfil01
	{
		float: left;
		width: 100%;
	}
	.perfil .info .campos_perfil02
	{
		float: right;
		width: 100%;
	}
	.perfil .acaoEditar
	{
		float: left;
		width: 50%;
	}
	.perfil .acaoExcluir
	{
		float: right;
		width: 50%;
	}
	.perfil .info .text
	{
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.perfil .info .label
	{
		background-color: rgba(18, 29, 39, 1);
	}
	.info .img
	{
		width: 200px;
		height: 200px;
		margin-bottom: 20px;
		border-radius: 10px;
	}
	.info img
	{
		width: 100%;
		border-radius: 10px;
	}
}
@media screen and (max-width: 480px)
{
	.perfil
	{
		float: left;
		width: 100%;
		height: 100vh;
	}
	.perfil .progress
	{
		width: 100%;
	}
	.perfil .hab
	{
		float: left;
		padding-top: 80px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		width: 100%;
		height: 100vh;
		overflow: auto;
		background-color: rgba(18, 29, 39, 0.9);
	}
	.perfil .hab .label
	{
		padding: 0px;
		font-size: 20px;
		font-weight: normal;
		text-align: center;
		color: rgba(53, 255, 153, 1);
	}
	.perfil .hab p
	{
		margin-top: 30px;
		margin-bottom: 5px;
		color: #fff;
	}
	.perfil .info
	{
		padding-top: 60px;
		padding-left: 50px;
		padding-bottom: 50px;
		padding-right: 50px;
		float: right;
		width: 100%;
		height: 100vh;
		overflow: auto;
	}
	.perfil .info .panel
	{
		border: 0px;
	}
	.perfil .info .campos_perfil01
	{
		float: left;
		width: 100%;
	}
	.perfil .info .campos_perfil02
	{
		float: right;
		width: 100%;
	}
	.perfil .acaoEditar
	{
		float: left;
		width: 50%;
	}
	.perfil .acaoExcluir
	{
		float: right;
		width: 50%;
	}
	.perfil .info .text
	{
		margin-top: 10px;
		margin-bottom: 30px;
	}
	.perfil .info .label
	{
		background-color: rgba(18, 29, 39, 1);
	}
	.info .img
	{
		width: 200px;
		height: 200px;
		margin-bottom: 20px;
		border-radius: 10px;
	}
	.info img
	{
		width: 100%;
		border-radius: 10px;
	}
}